<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <dfn
        data-glossary-title="{data.descriptions.0.meaning -> f:format.htmlentities()}"
        data-glossary-text="{data.descriptions.0.text -> f:format.htmlentities()}"
        data-bs-target="#glossary-definition-modal"
        data-bs-toggle="modal"
        title="{title}"
        {f:if(condition: data.term_lang, then: 'lang="{data.term_lang}"')}>
        <a href="{overviewLink}/{characterFilter}#{data.url_segment}" title="{title}" class="dpnglossary link" role="button">{data.name}</a>
    </dfn>
</html>
