parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'address' on array\\|false\\.$#"
			count: 2
			path: Classes/Cache/Backend/SentinelCapableRedisBackend.php

		-
			message: "#^Cannot access offset 'port' on array\\|false\\.$#"
			count: 2
			path: Classes/Cache/Backend/SentinelCapableRedisBackend.php

		-
			message: "#^Cannot call method alert\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Cache/Backend/SentinelCapableRedisBackend.php

		-
			message: "#^Class RedisSentinel constructor invoked with 1 parameter, 2\\-6 required\\.$#"
			count: 1
			path: Classes/Cache/Backend/SentinelCapableRedisBackend.php

		-
			message: "#^Parameter \\#1 \\$host of class RedisSentinel constructor expects string, array\\<string, int\\|string\\> given\\.$#"
			count: 1
			path: Classes/Cache/Backend/SentinelCapableRedisBackend.php

		-
			message: "#^Method ITZBund\\\\GsbCore\\\\Command\\\\ConfigurationImportCommand\\:\\:importTables\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Command/ConfigurationImportCommand.php

		-
			message: "#^Method ITZBund\\\\GsbCore\\\\Configuration\\\\PackageHelper\\:\\:getSiteListForSiteModule\\(\\) has parameter \\$fieldDefinition with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/PackageHelper.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: Classes/EventListener/AddTypoScriptFromSitePackageEvent.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: Classes/EventListener/AddTypoScriptFromSitePackageEvent.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: Classes/EventListener/ExtendsSiteConfigurationEvent.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: Classes/Log/Writer/JsonFileWriter.php

		-
			message: "#^Method ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\JsonFileWriter\\:\\:writeLog\\(\\) has invalid return type ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\WriterInterface\\.$#"
			count: 1
			path: Classes/Log/Writer/JsonFileWriter.php

		-
			message: "#^Method ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\JsonFileWriter\\:\\:writeLog\\(\\) should return ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\WriterInterface but returns \\$this\\(ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\JsonFileWriter\\)\\.$#"
			count: 1
			path: Classes/Log/Writer/JsonFileWriter.php

		-
			message: "#^Return type \\(ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\WriterInterface\\) of method ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\JsonFileWriter\\:\\:writeLog\\(\\) should be covariant with return type \\(TYPO3\\\\CMS\\\\Core\\\\Log\\\\Writer\\\\WriterInterface\\) of method TYPO3\\\\CMS\\\\Core\\\\Log\\\\Writer\\\\FileWriter\\:\\:writeLog\\(\\)$#"
			count: 1
			path: Classes/Log/Writer/JsonFileWriter.php

		-
			message: "#^Return type \\(ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\WriterInterface\\) of method ITZBund\\\\GsbCore\\\\Log\\\\Writer\\\\JsonFileWriter\\:\\:writeLog\\(\\) should be covariant with return type \\(TYPO3\\\\CMS\\\\Core\\\\Log\\\\Writer\\\\WriterInterface\\) of method TYPO3\\\\CMS\\\\Core\\\\Log\\\\Writer\\\\WriterInterface\\:\\:writeLog\\(\\)$#"
			count: 1
			path: Classes/Log/Writer/JsonFileWriter.php

		-
			message: "#^Method ITZBund\\\\GsbCore\\\\ViewHelpers\\\\Format\\\\Json\\\\DecodeViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/ViewHelpers/Format/Json/DecodeViewHelper.php


