<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:flashMessages/>

<div class="frame frame-default frame-type-ce_container frame-layout-0">
    <h1 class="ce-headline-center "><span><f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_header'}"/></span></h1>
    <div class="container-wrapper default frame-space-before-large frame-space-after-large">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-xl-1 col-xl-10">
                    <div class="row">
                        <div class="frame frame-default frame-type-ce_container frame-layout-2 grid-cols col-12 offset-xl-1 col-xl-10">
                            <div class="container-wrapper default">
                                <div class="grid-bg" style="background-color:var(--bs-focus-ring-color);"></div>
                                <picture class="img-icon" data-aspectratio-lg="1:1" data-aspectratio-md="1:1" data-aspectratio-sm="1:1" data-aspectratio-xl="1:1" data-aspectratio-xs="1:1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="none" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60v60H60C26.863 120 0 93.137 0 60Z"/>
                                            <path fill="var(--bs-secondary)" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60-26.863 60-60 60S0 93.137 0 60Z"/>
                                            <path fill="none" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60-26.863 60-60 60S0 93.137 0 60Z"/>
                                            <path fill="var(--bs-white)" d="M59.5 31c-2.544 0-6.796.977-10.797 2.065-4.093 1.106-8.22 2.415-10.646 3.208a5.679 5.679 0 0 0-3.85 4.654c-2.197 16.509 2.903 28.744 9.09 36.838a43.428 43.428 0 0 0 9.282 9.045c1.423 1.007 2.743 1.778 3.864 2.305 1.033.487 2.143.885 3.057.885.915 0 2.02-.398 3.057-.885a26.399 26.399 0 0 0 3.864-2.305 43.42 43.42 0 0 0 9.282-9.045c6.188-8.094 11.287-20.33 9.09-36.838a5.682 5.682 0 0 0-3.85-4.658 230.347 230.347 0 0 0-10.646-3.208C66.297 31.981 62.044 31 59.5 31Zm0 18.437a5.531 5.531 0 0 1 1.844 10.75l1.42 7.338a1.844 1.844 0 0 1-1.811 2.194h-2.906a1.844 1.844 0 0 1-1.807-2.194l1.416-7.338a5.531 5.531 0 0 1 1.844-10.75Z"/>
                                        </g>
                                    </svg>
                                </picture>
                                <div class="container">
                                    <div class="frame frame-default frame-type-felogin_login frame-layout-0">
                                        <f:if condition="{messageKey}">
                                            <f:if condition="{messageKey} == 'error'">
                                                <f:then>
                                                    <p class="error">
                                                        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
                                                    </p>
                                                </f:then>
                                                <f:else>
                                                    <p class="message">
                                                        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
                                                    </p>
                                                </f:else>
                                            </f:if>
                                        </f:if>
                                        <p>{f:translate(key: 'element.pflichtfeld.properties.text.detail', extensionName: 'gsb_core')}</p>
                                        <f:form target="_top" fieldNamePrefix="" action="login" requestToken="{requestToken}" additionalAttributes="{spellcheck: 'false'}">
                                            <f:render section="content" arguments="{_all}"/>
                                        </f:form>

                                        <f:if condition="{settings.showForgotPassword}">
                                            <div class="mb-3">
                                                <f:link.action action="recovery" controller="PasswordRecovery">
                                                    <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
                                                </f:link.action>
                                            </div>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<f:section name="content">
    <div class="mb-3">
        <label for="tx-felogin-input-username" class="form-label">{f:translate(key: 'felogin.username', extensionName: 'gsb_core')} <dfn class="required" title="{f:translate(key: 'element.pflichtfeld.properties.text', extensionName: 'gsb_core')}">*</dfn></label>
        <f:form.textfield name="user" required="true" class="form-control" id="tx-felogin-input-username" additionalAttributes="{autocomplete: 'username'}"/>
    </div>

    <div class="mb-3">
        <label for="tx-felogin-input-password" class="form-label"><f:translate key="password"/> <dfn class="required" title="{f:translate(key: 'element.pflichtfeld.properties.text', extensionName: 'gsb_core')}">*</dfn></label>
        <f:form.password name="pass" additionalAttributes="{required: 'required', autocomplete: 'current-password'}" class="form-control" id="tx-felogin-input-password"/>
    </div>

    <f:if condition="{permaloginStatus} > -1">
        <div class="mb-3">
            <f:if condition="{permaloginStatus} == 1">
                <f:then>
                    <f:form.hidden name="permalogin" value="0" additionalAttributes="{disabled: 'disabled'}"/>
                    <div class="form-check">
                        <f:form.checkbox class="form-check-input" name="permalogin" id="permalogin" value="1" checked="checked"/>
                        <label class="form-check-label" for="permalogin">
                            <f:translate id="permalogin"/>
                        </label>
                    </div>
                </f:then>
                <f:else>
                    <f:form.hidden name="permalogin" value="0"/>
                    <div class="form-check">
                        <f:form.checkbox class="form-check-input" name="permalogin" id="permalogin" value="1" checked="checked"/>
                        <label class="form-check-label" for="permalogin">
                            <f:translate id="permalogin"/>
                        </label>
                    </div>
                </f:else>
            </f:if>
        </div>
    </f:if>

    <div class="mb-3">
        <f:form.submit value="{f:translate(key: 'login')}" class="btn btn-primary" name="submit"/>
    </div>

    <div class="felogin-hidden">
        <f:form.hidden name="logintype" value="login"/>
        <f:if condition="{redirectURL}!=''">
            <f:form.hidden name="redirect_url" value="{redirectURL}" />
        </f:if>
        <f:if condition="{referer}!=''">
            <f:form.hidden name="referer" value="{referer}" />
        </f:if>
        <f:if condition="{redirectReferrer}!=''">
            <f:form.hidden name="redirectReferrer" value="off" />
        </f:if>
        <f:if condition="{noRedirect}!=''">
            <f:form.hidden name="noredirect" value="1" />
        </f:if>
    </div>
</f:section>
</html>
