<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<div class="frame frame-default frame-type-ce_container frame-layout-0">
    <h1 class="ce-headline-center "><span><f:render partial="RenderLabelOrMessage" arguments="{key: 'status_header'}"/></span></h1>
    <div class="container-wrapper default frame-space-before-large frame-space-after-large">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-xl-1 col-xl-10">
                    <div class="row">
                        <div class="frame frame-default frame-type-ce_container frame-layout-2 grid-cols col-12 offset-xl-1 col-xl-10">
                            <div class="container-wrapper default">
                                <div class="grid-bg" style="background-color:var(--bs-focus-ring-color);"></div>
                                <picture class="img-icon" data-aspectratio-lg="1:1" data-aspectratio-md="1:1" data-aspectratio-sm="1:1" data-aspectratio-xl="1:1" data-aspectratio-xs="1:1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="none" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60v60H60C26.863 120 0 93.137 0 60Z"/>
                                            <path fill="var(--bs-secondary)" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60-26.863 60-60 60S0 93.137 0 60Z"/>
                                            <path fill="none" d="M0 60C0 26.863 26.863 0 60 0s60 26.863 60 60-26.863 60-60 60S0 93.137 0 60Z"/>
                                            <path fill="var(--bs-white)" d="M59.5 31c-2.544 0-6.796.977-10.797 2.065-4.093 1.106-8.22 2.415-10.646 3.208a5.679 5.679 0 0 0-3.85 4.654c-2.197 16.509 2.903 28.744 9.09 36.838a43.428 43.428 0 0 0 9.282 9.045c1.423 1.007 2.743 1.778 3.864 2.305 1.033.487 2.143.885 3.057.885.915 0 2.02-.398 3.057-.885a26.399 26.399 0 0 0 3.864-2.305 43.42 43.42 0 0 0 9.282-9.045c6.188-8.094 11.287-20.33 9.09-36.838a5.682 5.682 0 0 0-3.85-4.658 230.347 230.347 0 0 0-10.646-3.208C66.297 31.981 62.044 31 59.5 31Zm0 18.437a5.531 5.531 0 0 1 1.844 10.75l1.42 7.338a1.844 1.844 0 0 1-1.811 2.194h-2.906a1.844 1.844 0 0 1-1.807-2.194l1.416-7.338a5.531 5.531 0 0 1 1.844-10.75Z"/>
                                        </g>
                                    </svg>
                                </picture>
                                <div class="container">
                                    <div class="frame frame-default frame-type-felogin_login frame-layout-0">
                                        <p class="message"><f:render partial="RenderLabelOrMessage" arguments="{key: 'status_message'}"/></p>
                                        <f:form action="login" actionUri="{actionUri}" target="_top" fieldNamePrefix="">
                                            <dl class="mb-3">
                                                <dd>{f:translate(key: 'felogin.username.loggedin', extensionName: 'gsb_core')}:</dd>
                                                <dt>{user.username}</dt>
                                            </dl>
                                            <f:form.submit class="btn btn-primary mb-3" value="{f:translate(key: 'logout')}" name="submit" id="tx-felogin-input-logout"/>
                                            <div class="felogin-hidden">
                                                <f:form.hidden name="logintype" value="logout"/>
                                            </div>
                                        </f:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
