<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default"/>

    <f:section name="Main">
        <f:render partial="Header" arguments="{_all}"/>

        <main class="main-wrapper" id="mainContent">

            <f:if condition="{top}">
                <div class="container">
                    <!--TYPO3SEARCH_begin-->
                    <f:format.raw>{top}</f:format.raw>
                    <!--TYPO3SEARCH_end-->
                </div>
            </f:if>

            <div id="main-container" class="main-container overview">
                <div class="container">
                    <!--TYPO3SEARCH_begin-->
                    <f:format.raw>{main}</f:format.raw>
                    <!--TYPO3SEARCH_end-->

                    <f:if condition="{data.socialmedia} != 1">
                        <f:render partial="Footer.Share" arguments="{_all}"/>
                    </f:if>

                    <f:if condition="{bottom}">
                        <aside class="aside-bottom">
                            <f:format.raw>{bottom}</f:format.raw>
                        </aside>
                    </f:if>
                </div>
            </div>
        </main>

        <f:if condition="{newsletter} && {data.newsletter} != 1">
            <aside class="newsletter bottom" aria-labelledby="NewsletterHeadline">
                <div class="row">
                    <div class="col-12">
                        <h2 class="visually-hidden" id="NewsletterHeadline">Newsletter</h2>
                        <f:format.raw>{newsletter}</f:format.raw>
                    </div>
                </div>
            </aside>
        </f:if>

        <f:render partial="Footer" arguments="{_all}"/>

    </f:section>

</html>
