<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <f:render partial="Header" arguments="{_all}"/>
    <main id="mainContent" class="main-wrapper">
        <f:if condition="{top}">
            <f:if condition="{data.event} == 1">
                <f:then>
                    <f:if condition="{data.event_past} == 1">
                        <f:then>
                            <div class="top-container event event-past">
                                <!--TYPO3SEARCH_begin-->
                                <f:render partial="Event.Past" arguments="{_all}"/>
                                <!--TYPO3SEARCH_end-->
                            </div>
                        </f:then>
                        <f:else>
                            <div class="top-container event event-pending">
                                <!--TYPO3SEARCH_begin-->
                                <f:render partial="Event.Pending" arguments="{_all}"/>
                                <!--TYPO3SEARCH_end-->
                            </div>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <div class="top-container{f:if(condition: '{data.layout} == 1', then: ' overview-page')}">
                        <div class="container">
                            <!--TYPO3SEARCH_begin-->
                            <f:format.raw>{top}</f:format.raw>
                            <!--TYPO3SEARCH_end-->
                        </div>
                    </div>
                </f:else>
            </f:if>
        </f:if>

        <div id="main-container" class="main-container article">
            <div class="container">
                <!--TYPO3SEARCH_begin-->
                <f:format.raw>{main}</f:format.raw>
                <!--TYPO3SEARCH_end-->

                <f:if condition="{data.lastUpdated}">
                    <div class="row">
                        <div class="col-12 offset-xl-2 col-xl-8">
                            <p class="page-date-bottom">
                                {f:translate(key: 'article.detail.published', extensionName: 'gsb_template')}
                                <f:format.date format="{f:translate(key: 'article.detail.dateformat', extensionName: 'gsb_template')}">{data.lastUpdated}</f:format.date>
                                {f:translate(key: 'article.detail.topic', extensionName: 'gsb_template')}: <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.leveluid')}">{f:cObject(typoscriptObjectPath: 'lib.leveltitle')}</f:link.page>
                            </p>
                        </div>
                    </div>
                </f:if>
                <f:if condition="{data.socialmedia} != 1">
                    <f:render partial="Footer.Share" arguments="{_all}"/>
                </f:if>

                <f:if condition="{bottom}">
                    <aside class="aside-bottom">
                        <f:format.raw>{bottom}</f:format.raw>
                    </aside>
                </f:if>
            </div>
        </div>
    </main>

    <f:if condition="{newsletter} && {data.newsletter} != 1">
        <aside class="newsletter bottom" aria-label="Newsletter">
            <div class="row">
                <div class="col-12">
                    <f:format.raw>{newsletter}</f:format.raw>
                </div>
            </div>
        </aside>
    </f:if>

    <f:render partial="Footer" arguments="{_all}"/>

</f:section>

</html>
