<html data-namespace-typo3-fluid="true" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
    <f:render arguments="{_all}" partial="Header"/>
    <main class="main-wrapper" id="mainContent" aria-labelledby="headerMain">
        <article class="main-article">
            <div class="top-container">
                <f:if condition="{data.starttime}">
                    <f:then>
                        <f:format.date format="%e. %B %G">{data.starttime}</f:format.date>
                    </f:then>
                    <f:else>
                        <f:if condition="{data.lastUpdated} > {data.tstamp}">
                            <f:then>
                                <f:format.date format="%e. %B %G">{data.lastUpdated}</f:format.date>
                            </f:then>
                            <f:else>
                                <f:format.date format="%e. %B %G">{data.tstamp}</f:format.date>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
                <f:if condition="{mainCategory}">
                    <span class="dot" aria-hidden="true">•</span> {mainCategory}
                </f:if>

                <f:if condition="{pageCategories}">
                        <ul class="list-group list-group-horizontal liststyle-none">
                            <f:for each="{pageCategories}" as="category">
                                <li class="list-group-item border-0 ps-0 kicker">
                                    <span>{category}</span>
                                </li>
                            </f:for>
                        </ul>
                </f:if>
                <f:format.raw>{top}</f:format.raw>
            </div>

          <div class="main-container container">
            <div class="row">
              <div class="col-12">
                <!--TYPO3SEARCH_begin-->
                <f:format.raw>{main}</f:format.raw>
                <f:format.raw>{bottom}</f:format.raw>
                <!--TYPO3SEARCH_end-->
                <f:if condition="{data.socialmedia} != 1">
                  <f:render arguments="{_all}" partial="Footer.Share"/>
                </f:if>
              </div>
            </div>
          </div>
        </article>
    </main>

    <f:render arguments="{_all}" partial="Footer"/>

</f:section>

</html>
