<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <a data-bs-slide="next" href="#galleryCarousel" role="button" title="Nächstes Bild">
    <figure class="image">
      <picture class="{f:if(condition:'{file.properties.outline} == 1', then:'outline')}">
        <f:image class="figure-img img-fluid" crop="false" maxWidth="1800" src="{file.uid}" treatIdAsReference="1"/>
      </picture>
      <f:if condition="{file.properties.caption}">
        <figcaption class="image-caption">
          <f:if condition="{column.media.description}">
            <span class="description">{column.media.description} </span>
          </f:if>
          <f:if condition="{column.media.originalFile.properties.copyright}">
            <span class="copyright">© {column.media.originalFile.properties.copyright}</span>
          </f:if>
        </figcaption>
      </f:if>
    </figure>
  </a>
</html>
