<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ff="http://www.w3.org/1999/html" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
    <picture class="img-icon" data-aspectratio-lg="1:1" data-aspectratio-md="1:1" data-aspectratio-sm="1:1" data-aspectratio-xl="1:1" data-aspectratio-xs="1:1">
        <f:image class="figure-img img-fluid" cropVariant="default" image="{file}" loading="lazy" width="120" height="120" maxHeight="120" maxWidth="120"/>
    </picture>
</html>
