<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div aria-hidden="true" class="modal fade" data-bs-backdrop="static" id="Modal-{data.uid}" tabindex="-1">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-10 title">
                            <h3 class="modal-title h3" id="modalLabel-{data.uid}">{data.header}</h3>
                        </div>
                        <div class="col-2 close text-end">
                            <button class="btn-close" data-bs-dismiss="modal" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}" type="button"><span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <figure class="image">
                    <picture>
                        <f:image crop="false" maxWidth="1800" src="{column.media.properties.uid}" alt="" treatIdAsReference="1" />
                    </picture>
                </figure>
            </div>
        </div>
    </div>
</div>

</html>
