<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ff="http://www.w3.org/1999/html" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">
<f:if condition="{data.imagewidth}">
    <f:then>
        <f:alias map="{gsb:format.json.decode(json: file.properties.crop)}">
            <picture class="{f:if(condition:'{file.properties.outline} == 1', then:' outline')}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                <source
                    media="(min-width: 1200px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: data.imagewidth, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 1200px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: data.imagewidth, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 992px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: data.imagewidth, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 992px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: data.imagewidth, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 768px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 700, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 768px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 700, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 576px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 700, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 576px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 700, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 0)"
                    srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 550, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 0)"
                    srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 550, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <f:image class="figure-img img-fluid" style="{f:if(condition:'{file.properties.outline} == 1', then:'border-color:{data.grid_bgcolor}')}" cropVariant="default" loading="lazy" maxWidth="{data.imagewidth}" src="{file.properties.uid}" treatIdAsReference="1"/>
            </picture>
        </f:alias>
    </f:then>
    <f:else>
        <f:alias map="{gsb:format.json.decode(json: file.properties.crop)}">
            <picture class="{f:if(condition:'{file.properties.outline} == 1', then:'outline')}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                <source
                    media="(min-width: 1200px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 1920, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 1200px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 1920, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 992px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: 1200, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 992px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: 1200, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 768px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 700, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 768px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 700, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 576px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 700, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 576px)"
                    srcset="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 700, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <source
                    media="(min-width: 0)"
                    srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 600, fileExtension: 'webp')}"
                    type="image/webp"
                >
                <source
                    media="(min-width: 0)"
                    srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 600, fileExtension: 'jpg')}"
                    type="image/jpeg"
                >
                <f:image class="figure-img img-fluid" style="{f:if(condition:'{file.properties.outline} == 1', then:'border-color:{data.grid_bgcolor}')}" cropVariant="default" loading="lazy" maxWidth="1920" src="{file.properties.uid}" treatIdAsReference="1"/>
            </picture>
        </f:alias>
    </f:else>
</f:if>
</html>
