<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>

<div class="frame
frame-{data.frame_class}
frame-type-{data.CType}
frame-layout-{data.layout}
{f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
{f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')}
{f:if(condition: data.grid_light, then: 'grid-light')}
{f:if(condition: data.grid_bgfullsize, then: 'grid-fullsize')}
{f:if(condition: data_bgimage, then: 'grid-bgimage')}
{f:if(condition: data.grid_icon, then: 'grid-icon')}
{f:if(condition:'{data.grid_container} == 1', then:'header-underline')}
{f:if(condition: data.grid_imgbg, then: 'grid-cols col-12 offset-xl-1 col-xl-10')} position-relative"
     id="c{data.uid}">

    <f:if condition="{data_bgimage} && {gsb:featureFlag(featureKey: 'ITZBUNDPHP-4326')}">
        <f:variable name="bgimage">{f:uri.image(image: data_bgimage.0, maxWidth: 2560, treatIdAsReference: '1')}</f:variable>
        <f:if condition="{data.grid_parallax} == 0">
            <f:asset.css identifier="c{data.uid}-data-bgimage" priority="true">
                #c{data.uid}-data-bgimage
                <f:format.raw>{</f:format.raw>
                background-image: url("{bgimage}");
                <f:format.raw>}</f:format.raw>
            </f:asset.css>
        </f:if>
        <div class="grid-bg{f:if(condition: data.grid_parallax, then: ' grid-parallax')}" id="c{data.uid}-data-bgimage">
            <f:if condition="{data.grid_parallax}">
                <img class="jarallax-img" src="{bgimage}" alt="" aria-hidden="true">
            </f:if>
        </div>
    </f:if>

    <f:if condition="{data.grid_bgcolor}">
        <div class="grid-bg{f:if(condition: data.grid_bgcolor, then: ' bg-{data.grid_bgcolor}')}"></div>
    </f:if>

    <f:if condition="{data.grid_imgbg}">
        <f:for each="{files}" as="file">
            <f:render partial="Media/Rendering/ImageIcon" arguments="{_all}"/>
        </f:for>
    </f:if>

    {f:if(condition:'{data.grid_container} != 1', then:'<div class="container header-underline">')}

    <f:render section="Header" optional="true">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:render>

    <f:render section="Main" optional="true" />

    {f:if(condition:'{data.grid_container} != 1', then:'</div>')}
</div>

</html>
