<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data.grid_imgbg}">
    <f:then>
        <div class="row">
            <div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.grid_light, then: ' grid-light')}{f:if(condition: data.grid_imgbg, then: ' grid-cols col-12 offset-xl-1 col-xl-10')}">
                <div class="container-wrapper {data.frame_class}">
                    <f:if condition="{files}">
                        <f:then>
                            <f:if condition="{data.grid_bgcolor}">
                                <div class="grid-bg" style="{f:if(condition: data.grid_bgcolor, then: 'background-color:{data.grid_bgcolor}', else: 'background-color:transparent')};"></div>
                            </f:if>
                            <f:for each="{files}" as="file">
                                <f:render partial="Media/Rendering/ImageIcon" arguments="{_all}"/>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:if condition="{data.grid_bgcolor}">
                                <div class="grid-bg" style="{f:if(condition: data.grid_bgcolor, then: 'background-color:{data.grid_bgcolor}', else: 'background-color:transparent')};"></div>
                            </f:if>
                        </f:else>
                    </f:if>
                    <div class="container">
                        <f:render section="Header" optional="true">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Main" optional="true" />
                    </div>
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.grid_bgfullsize, then: ' grid-fullsize')}{f:if(condition: data.grid_light, then: ' grid-light')}{f:if(condition: data.grid_imgbg, then: ' grid-cols col-12 offset-xl-1 col-xl-10')}">
            <div class="container-wrapper {data.frame_class}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
                <f:if condition="{data.grid_bgcolor}">
                    <div class="grid-bg" style="{f:if(condition: data.grid_bgcolor, then: 'background-color:{data.grid_bgcolor}', else: 'background-color:transparent')};"></div>
                </f:if>

                {f:if(condition:'{data.grid_container} != 1', then:'<div class="container">')}

                <f:render section="Header" optional="true">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:render>
                <f:render section="Main" optional="true" />

                {f:if(condition:'{data.grid_container} != 1', then:'</div>')}
            </div>
        </div>
    </f:else>
</f:if>

</html>
