<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ff="http://www.w3.org/1999/html"
      xmlns:gsb="http://typo3.org/ns/ITZBund/GsbTemplate/ViewHelpers">

<f:if condition="{dimensions.width}">
    <f:then>
        <f:alias map="{gsb:format.json.decode(json: file.properties.crop)}">
            <picture data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}"
                     data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}"
                     data-aspectratio-xs="{xsmall.selectedRatio}">
                <source media="(min-width: 1220px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: dimensions.width)}">
                <source media="(min-width: 992px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: dimensions.width)}">
                <source media="(min-width: 768px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 688)}">
                <source media="(min-width: 576px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 543)}">
                <source media="(min-width: 0)"
                        srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 543)}">
                <f:if condition="{data.image_zoom}">
                    <f:then>
                        <f:image class="figure-img img-fluid rounded" cropVariant="default"
                                 data="{bs-target: '#Carousel-{data.uid}'}" loading="lazy" maxWidth="{dimensions.width}"
                                 src="{file.properties.uid}" treatIdAsReference="1"/>
                    </f:then>
                    <f:else>
                        <f:image class="figure-img img-fluid rounded" cropVariant="default" loading="lazy"
                                 maxWidth="{dimensions.width}" src="{file.properties.uid}" treatIdAsReference="1"/>
                    </f:else>
                </f:if>
            </picture>
        </f:alias>
    </f:then>
    <f:else>
        <f:alias map="{gsb:format.json.decode(json: file.properties.crop)}">
            <picture data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}"
                     data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}"
                     data-aspectratio-xs="{xsmall.selectedRatio}">
                <source media="(min-width: 1220px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 1920)}">
                <source media="(min-width: 992px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'large', maxWidth: 1220)}">
                <source media="(min-width: 768px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 992)}">
                <source media="(min-width: 576px)"
                        srcset="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 768)}">
                <source media="(min-width: 0)"
                        srcset="{f:uri.image(image: file, cropVariant: 'xsmall', maxWidth: 576)}">
                <f:if condition="{data.image_zoom}">
                    <f:then>
                        <f:image class="figure-img img-fluid rounded" cropVariant="default" data="{bs-target: '#Carousel-{data.uid}'}"
                                 loading="lazy" maxWidth="1920" src="{file.properties.uid}"
                                 treatIdAsReference="1"/>
                    </f:then>
                    <f:else>
                        <f:image class="figure-img img-fluid rounded" cropVariant="default" loading="lazy"
                                 maxWidth="1920" src="{file.properties.uid}" treatIdAsReference="1"/>
                    </f:else>
                </f:if>
            </picture>
        </f:alias>
    </f:else>
</f:if>
</html>
