<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/apple-touch-icon-60x60.png')}" rel="apple-touch-icon" sizes="60x60">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/apple-touch-icon-76x76.png')}" rel="apple-touch-icon" sizes="76x76">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/apple-touch-icon-120x120.png')}" rel="apple-touch-icon" sizes="120x120">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/apple-touch-icon-152x152.png')}" rel="apple-touch-icon" sizes="152x152">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/apple-touch-icon-180x180.png')}" rel="apple-touch-icon" sizes="180x180">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/favicon-32x32.png')}" rel="icon" sizes="32x32" type="image/png">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/favicon-16x16.png')}" rel="icon" sizes="16x16" type="image/png">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/site.webmanifest')}" rel="manifest">
    <link color="#333333" href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/safari-pinned-tab.svg')}" rel="mask-icon">
    <link href="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/favicon.ico')}" rel="shortcut icon">
    <meta content="itzbund.de" name="apple-mobile-web-app-title">
    <meta content="itzbund.de" name="application-name">
    <meta content="#333333" name="msapplication-TileColor">
    <meta content="{f:uri.image(src: 'EXT:gsb_core/Resources/Public/Favicons/browserconfig.xml')}" name="msapplication-config">
    <meta content="#333333" name="theme-color">

    <f:if condition="{data.keywords}">
        <meta content="{data.keywords}" name="keywords">
    </f:if>
    <f:if condition="{data.lastUpdated}">
        <meta content="{f:format.date(format: '%Y-%m-%d, %R', date: data.lastUpdated)}" name="last-modified">
    </f:if>
    <f:if condition="{data.author}">
        <meta content="{data.author}" name="author">
    </f:if>
    <f:if condition="{data.author_email}">
        <meta content="{data.author_email}" name="email">
    </f:if>

</html>
