<html data-namespace-typo3-fluid="true" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<aside class="row row-border">
    <div class="col-12">
        <div class="footer-socialmedia">
            <h2 class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:footer.socialmediaheader')}</h2>
            <ul>
                <li>
                    <a class="facebook" href="https://www.facebook.com/digitaspixelpark" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Facebook {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-facebook"></div>
                        <span lang="en">Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/company/digitaspixelpark/" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Linkedin {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-linkedin"></div>
                        <span lang="en">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="https://www.instagram.com/digitaspixelpark/" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Instagram {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-instagram"></div>
                        <span lang="en">Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/digitaspxp" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Twitter {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-twitter"></div>
                        <span lang="en">Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

</html>
