<html data-namespace-typo3-fluid="true" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<aside class="row">
    <div class="col-12">
        <div class="social-media d-flex justify-content-lg-end align-items-center mb-4 mb-lg-5">
            <h2 class="fs-3 fs-lg-2 me-4">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:footer.socialmediaheader')}</h2>
            <ul class="list-unstyled d-flex gap-4">
                <li>
                    <a class="facebook" href="#" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Facebook {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-facebook"></div>
                        <span lang="en" class="visually-hidden">Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="#" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} YouTube {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-youtube"></div>
                        <span lang="en" class="visually-hidden">YouTube</span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Instagram {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-instagram"></div>
                        <span lang="en" class="visually-hidden">Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank" rel="noreferrer" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:opens')} Twitter {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:innewwindow')}">
                        <div class="icon icon-twitter"></div>
                        <span lang="en" class="visually-hidden">Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

</html>
