<f:if condition="{socialLinks-Facebook} || {socialLinks-YouTube} || {socialLinks-Instagram} || {socialLinks-Twitter}">
    <aside class="row">
        <div class="col-12">
            <div class="social-media justify-content-lg-end d-sm-flex align-items-center">
                <h2 class="fs-3 fs-lg-2 fw-normal mt-4 mt-sm-0 mb-0 me-4">{f:translate(key: 'footer.socialmediaheader',extensionName:'gsb_core')}</h2>
                <ul class="mb-4 mt-4 list-unstyled d-flex gap-4">
                    <f:if condition="{socialLinks-Facebook}">
                        <li>
                            <a class="facebook" href="{socialLinks-Facebook}" rel="noreferrer" target="_blank" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:opens')} Facebook {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:innewwindow')}">
                                <div class="icon icon-facebook"></div>
                                <span class="visually-hidden" lang="en">Facebook</span>
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{socialLinks-YouTube}">
                        <li>
                            <a class="youtube" href="{socialLinks-YouTube}" rel="noreferrer" target="_blank" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:opens')} YouTube {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:innewwindow')}">
                                <div class="icon icon-youtube"></div>
                                <span class="visually-hidden" lang="en">YouTube</span>
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{socialLinks-Instagram}">
                        <li>
                            <a class="instagram" href="{socialLinks-Instagram}" rel="noreferrer" target="_blank" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:opens')} Instagram {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:innewwindow')}">
                                <div class="icon icon-instagram"></div>
                                <span class="visually-hidden" lang="en">Instagram</span>
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{socialLinks-Twitter}">
                        <li>
                            <a class="twitter" href="{socialLinks-Twitter}" rel="noreferrer" target="_blank" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:opens')} X (Twittter) {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:innewwindow')}">
                                <div class="icon icon-twitter"></div>
                                <span class="visually-hidden" lang="en">X (Twittter)</span>
                            </a>
                        </li>
                    </f:if>
                </ul>
            </div>
        </div>
    </aside>
</f:if>
