<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row">
     <!--
     <f:if condition="{footerNav}">
         <nav aria-labelledby="meta">
             <h2 class="visually-hidden" id="meta">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:footer.metanav')}</h2>
             <div class="list-unstyled d-flex">
                 <f:format.raw>{footerNav}</f:format.raw>
             </div>
         </nav>
     </f:if>
     -->
    <div class="col-12 col-lg-8 mb-3 mb-lg-0">
        <nav>
            <h2 aria-labelledby="service-nav" class="visually-hidden">Servicenavigation</h2>
            <ul class="list-unstyled d-flex gap-4" id="service-nav">
                <li>
                    <a class="service-link icon-gebaerdensprache" href="/" hreflang="gsg">Gebärdensprache</a>
                </li>
                <li>
                    <a class="service-link icon-leichte-sprache" href="/" hreflang="de-simple">Leichte Sprache</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-12 col-lg-4">
        <nav class="language-switcher text-uppercase" aria-labelledby="language-switcher">
            <h3 id="language-switcher" class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:footer.language-switcher')}</h3>
            <f:format.raw>{navLanguage}</f:format.raw>
        </nav>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-12">
            <div class="border-top"></div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12 col-lg-3">
            <f:if condition="{copyright}">
                <p class="fw-normal fs-6">
                    <f:format.raw>{copyright}</f:format.raw>
                </p>
            </f:if>
        </div>
        <div class="col-12 col-sm-9">
            <nav class="text-uppercase" aria-labelledby="meta-2">
                <h3 id="meta-2" class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:footer.metanav')}</h3>
                <f:format.raw>{footerNav}</f:format.raw>
            </nav>
        </div>
    </div>
</footer>

</html>
