<div class="fw-bold bg-white text-gray-600 pt-5 border-top border-2 position-relative">
    <div class="container pt-5 pb-3">
        <h1 class="visually-hidden">{f:translate(key: 'meta.ServiceSection', extensionName: 'gsb_template')}</h1>
        <p class="mb-0 fs-4 fw-bold text-blue text-uppercase">{f:translate(key: 'footer.serviceheader',extensionName:'gsb_template')}</p>
        <f:render arguments="{_all}" partial="Footer.SocialMedia"/>
        <f:render arguments="{menuMeta: menuMeta, copyright: copyright, navlanguage: navlanguage}" partial="Navigation/MetaNavFooter"/>
        <div class="row">
            <div class="col-12">
                <a aria-label="Nach oben springen" class="totop" href="#top" title="Nach oben springen">
                    <div class="ol"></div>
                    <div class="bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
