<f:comment>
    <!--
    SPDX-FileCopyrightText: 2025 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:asset.script identifier="glossary-definition-modal-js" src="EXT:gsb_core/Resources/Public/JavaScript/glossaryDefinitionModal.js" />

<div aria-hidden="true" class="modal fade" data-bs-backdrop="static" id="glossary-definition-modal" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-10 title">
                            <h2 id="glossary-definition-modal-title"></h2>
                        </div>
                        <div class="col-2 close text-end">
                            <button class="btn-close" data-bs-dismiss="modal" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.modal_close')}" type="button">
                                <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.modal_close')}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div id="glossary-definition-modal-body" class="modal-body"></div>
                <div class="modal-footer glossary-modal-footer">
                    <div class="ce-bodytext">
                        <ul>
                            <li class="list-unstyled">
                                <a id="glossary-definition-modal-link" class="internal-link" href="#" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.to_glossary')}">
                                    <span class="icon" aria-hidden="true"></span>{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.to_glossary')}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
