<f:comment>
    <!--
    SPDX-FileCopyrightText: 2025 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<div id="glossary-definition-modal" class="modal fade" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="glossary-definition-modal-title" aria-describedby="glossary-definition-modal-body" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-10 title">
                            <h2 id="glossary-definition-modal-title"></h2>
                        </div>
                        <div class="col-2 close text-end">
                            <div class="btn-close-wrapper">
                                <button class="btn-close" type="button" data-close-modal title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.modal_close')}">
                                    <span class="visually-hidden">
                                        {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.modal_close')}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-container container">
                <div id="glossary-definition-modal-body" class="modal-body"></div>
                <div class="modal-footer glossary-modal-footer">
                    <div class="ce-bodytext">
                        <ul>
                            <li class="list-unstyled">
                                <a id="glossary-definition-modal-link" class="internal-link" href="#" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.to_glossary')}">
                                    <span class="icon" aria-hidden="true"></span>
                                    {f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:dpn_glossary.to_glossary')}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
