<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <nav class="col main-menu-layer dropdown order-1" aria-labelledby="mainmenu" id="main-menu">
        <button aria-expanded="false" aria-controls="menu" class="navbar-toggler" data-bs-boundary="scrollParent" data-bs-auto-close="outside" data-bs-display="static" data-bs-reference="parent" data-bs-toggle="dropdown" id="main-menu-button" title="{f:translate(key: 'header.openMenuT', extensionName: 'gsb_template')}" type="button">
            <span class="line"></span>
            <span class="txt"><f:format.raw>{f:translate(key: 'header.openMenu', extensionName: 'gsb_template')}</f:format.raw></span>
        </button>
        <div class="dropdown-menu" id="menu">
            <h2 class="visually-hidden" id="mainmenu">{f:translate(key: 'header.mainnavigation', extensionName: 'gsb_template')}</h2>
            <div class="navbar-wrapper">
                <div class="meta-mobile" id="meta-mobile"></div>
                <div class="main-nav-wrapper">
                    <div class="container">
                        <ol class="main-menu list-unstyled">
                            <li class="{f:if(condition: menuItem.children, then: '', else: 'no-children')}">
                                <f:link.page pageUid="1" class="px-0 first-child line-after dropdown-item">
                                    Startseite
                                </f:link.page>
                            </li>
                            <f:for each="{headerMenu}" as="menuItem" iteration="headerMenuIteration">
                                <li class="{f:if(condition: menuItem.children, then: '', else: 'no-children')}">
                                    <f:link.page pageUid="{menuItem.data.uid}" class="px-0 first-child line-after dropdown-item">
                                        {menuItem.title}
                                    </f:link.page>
                                    <f:if condition="{menuItem.children}">
                                        <f:then>
                                            <ul class="row list-unstyled">
                                                <f:for each="{menuItem.children}" as="menuChild" iteration="headerChildIteration">
                                                    <f:if condition="{headerChildIteration.index} < 3">
                                                        <f:then>
                                                            <li class="col-12 col-lg-4 px-0">
                                                                <f:link.page pageUid="{menuChild.data.uid}" class="sub dropdown-item">
                                                                    {menuChild.title}
                                                                </f:link.page>
                                                            </li>
                                                        </f:then>
                                                        <f:else>
                                                            <li class="col-12 col-lg-4 px-0 d-none hidden-link">
                                                                <f:link.page pageUid="{menuChild.data.uid}" class="sub dropdown-item">
                                                                    {menuChild.title}
                                                                </f:link.page>
                                                            </li>
                                                        </f:else>
                                                    </f:if>
                                                </f:for>
                                                <f:if condition="{menuItem.children -> f:count()} > 2">
                                                    <f:then>
                                                        <li class="px-0 nav-more readmore"><span>mehr anzeigen</span></li>
                                                    </f:then>
                                                </f:if>
                                            </ul>
                                        </f:then>
                                    </f:if>
                                </li>
                            </f:for>
                        </ol>
                    </div>
                </div>
                <div class="main-meta-wrapper">
                    <div class="container p-0">
                        <f:format.raw>{navPrimaryMeta}</f:format.raw>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</html>

