<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:format.raw>{jumpNav}</f:format.raw>

    <div class="layer"></div>

    <h1 class="visually-hidden">{f:translate(key: 'meta.NavigationSection', extensionName: 'gsb_template')}</h1>

    <header class="header-wrapper fixed-top">
        <div class="header-wrapper-bg">
            <div class="container">
                <div class="row">
                    <div class="col logo-wrapper">
                        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageid')} == {f:cObject(typoscriptObjectPath: 'lib.home')}">
                            <f:then>
                                <div class="logo lh-1 h-100 d-flex align-items-center">
                                    <span class="visually-hidden">{f:cObject(typoscriptObjectPath: 'lib.headTitle')}</span>
                                    <f:render partial="Header.Image" arguments="{_all}"></f:render>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="logo lh-1 h-100 d-flex align-items-center">
                                    <f:link.page pageUid="1" title="{f:translate(key: 'header.text', extensionName: 'gsb_template')}" additionalAttributes="{aria-label: 'Zur Startseite'}">
                                        <span class="visually-hidden">{f:cObject(typoscriptObjectPath: 'lib.headTitle')}</span>
                                        <f:render partial="Header.Image" arguments="{_all}"></f:render>
                                    </f:link.page>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                    <div class="col meta-wrapper d-flex flex-wrap justify-content-end flex-grow-0">
                        <f:render arguments="{menuMetaTop: menuMetaTop}" partial="Navigation/MetaNavTop"/>
                        <f:render arguments="{menuMainGsb: menuMainGsb, menuMetaMain: menuMetaMain, searchBoxMobi: searchBoxMobi}" partial="Header.Mainnav"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <f:if condition="{data.breadcrumb} != 1">
        <nav class="breadcrumb d-none d-md-block" aria-label="{f:translate(key: 'header.youarehere', extensionName: 'gsb_template')}">
            <div class="container">
                <f:format.raw>{navBreadcrumb}</f:format.raw>
            </div>
        </nav>
    </f:if>

</html>
