<html data-namespace-typo3-fluid="true" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<nav aria-labelledby="mainmenu" class="main-menu-layer dropdown flex-grow-0{f:if(condition: '{navType} == 0', then: ' d-lg-none')}" id="main-menu">
    <h2 class="visually-hidden" id="mainmenu">{f:translate(key: 'header.mainnavigation', extensionName: 'gsb_core')}</h2>
    <f:if condition="{site.configuration.search} == 1">
        <button aria-controls="search" aria-expanded="false" class="first-nav btn-search" data-bs-auto-close="outside" data-bs-boundary="scrollParent" data-bs-display="static" data-bs-reference="parent" data-bs-toggle="dropdown" type="button" title="{f:translate(key: 'header.search', extensionName: 'gsb_core')}">
            <span class="visually-hidden">{f:translate(key: 'header.search', extensionName: 'gsb_core')}</span>
        </button>
        <div class="dropdown-menu main-menu-desktop" id="search-top">
            <div class="container tx-solr-search-form">
                <form method="get" id="tx-solr-search-form-pi-results-top" action="/suche" data-suggest="/suche?type=7384" data-suggest-header="Top Treffer" accept-charset="utf-8">
                    <div class="input-group">
                        <input type="text" class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control dropdown-item" name="tx_solr[q]" value="" placeholder="{f:translate(key: 'header.searchterm', extensionName: 'gsb_core')}">
                        <button class="btn btn-primary tx-solr-submit" type="submit" title="{f:translate(key: 'header.searching', extensionName: 'gsb_core')}">
                            <span>{f:translate(key: 'header.searching', extensionName: 'gsb_core')}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </f:if>
    <button aria-controls="menu" aria-expanded="false" class="navbar-toggler" data-bs-auto-close="outside" data-bs-boundary="scrollParent" data-bs-display="static" data-bs-reference="parent" data-bs-toggle="dropdown" id="main-menu-button" title="{f:translate(key: 'header.openMenuTitle', extensionName: 'gsb_core')}" type="button">
        <span class="line"></span>
        <span class="txt"><f:format.raw>{f:translate(key: 'header.openMenu', extensionName: 'gsb_core')}</f:format.raw></span>
    </button>
    <div class="dropdown-menu" id="menu">
        <div class="navbar-wrapper">
            <f:render arguments="{menuMain: menuMain}" partial="Navigation/MainNav"/>
        </div>
    </div>
</nav>

</html>

