<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">

    <f:comment>
        <!--
        SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

        SPDX-License-Identifier: GPL-3.0-or-later
        -->
    </f:comment>

    <div class="logo-wrapper">

        <gsb:trademark type="logo" />
        <f:if condition="{site.configuration.settings.logos.gsb-logo-text}">
            <f:then>
                <f:image src="{site.configuration.settings.logos.gsb-logo-text}" id="text"></f:image>
            </f:then>
            <f:else>
                <gsb:trademark type="text" />
            </f:else>
        </f:if>
    </div>

</html>
