<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<li class="mainnav-desktop-item">
    <button aria-controls="search" aria-expanded="false" class="first-nav btn-search" data-bs-auto-close="outside" data-bs-boundary="scrollParent" data-bs-display="static" data-bs-reference="parent" data-bs-toggle="dropdown" type="button" title="{f:translate(key: 'header.search', extensionName: 'gsb_core')}">
        {f:translate(key: 'header.search', extensionName: 'gsb_core')}
    </button>
    <div class="dropdown-menu main-menu-desktop" id="search">
        <div class="container d-flex justify-content-end pt-3 pb-3" style="height: 5.5rem !important">
            <button aria-label="Schließen" class="btn-close rounded-circle dropdown-item" type="button"></button>
        </div>
        <div class="container tx-solr-search-form">
            <form method="get" id="tx-solr-search-form-pi-results" action="/suche" data-suggest="/suche?type=7384" data-suggest-header="Top Treffer" accept-charset="utf-8">
                <div class="input-group">
                    <input type="text" class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control dropdown-item" name="tx_solr[q]" value="">
                    <button class="btn btn-primary tx-solr-submit" type="submit">
                        Suchen
                    </button>
                </div>
            </form>
        </div>
    </div>
</li>

</html>
