<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <div class="col meta-desktop order-3 d-none d-lg-block">
        <div class="meta-wrapper d-flex justify-content-end align-items-center">
            <f:format.raw>{navMeta}</f:format.raw>
            <f:comment>
                <form class="custom-switch form-check form-switch">
                    <input checked class="form-check-input" id="themeSwitch" type="checkbox">
                    <label class="form-check-label" for="themeSwitch">
                        <i aria-hidden="true" class="switch-icon sun"></i>
                        <i aria-hidden="true" class="switch-icon moon"></i>
                        <span class="visually-hidden">Dunkel</span>
                    </label>
                </form>
            </f:comment>
        </div>
    </div>

</html>