<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <div class="accordion-wrapper">
        <ul class="accordion" id="accordion-{data.uid}">
            <f:for each="{children_101}" as="record" iteration="iterator">
                <li class="card">
                    <div id="accordion-heading-{record.uid}" class="card-header">
                        <f:if condition="{data.container_headline} > 1">
                            <f:switch expression="{data.container_headline}">
                                <f:case value="2"><h2></f:case>
                                <f:case value="3"><h3></f:case>
                                <f:case value="4"><h4></f:case>
                                <f:case value="5"><h5></f:case>
                                <f:case value="6"><h6></f:case>
                            </f:switch>
                        </f:if>
                        <a href="#accordion-{record.uid}" class="btn btn-link btn-h3{f:if(condition: '{data.container_accordion_toggle} == 1 && {iterator.cycle} != {data.container_accordion_open}', then: ' collapsed')}{f:if(condition: '{data.container_accordion_toggle} == 0', then: ' collapsed')}"
                           data-bs-toggle="collapse"
                           data-bs-target="#accordion-{record.uid}"
                           data-bs-parent="{f:if(condition: '{data.container_accordion_toggle_all} != 1', then: '#accordion-{data.uid}')}"
                           aria-expanded="{f:if(condition: '{data.container_accordion_toggle} == 1 && {iterator.cycle}=={data.container_accordion_open}', then: 'true', else: 'false')}"
                           aria-controls="accordion-{record.uid}"
                           role="button"
                        >{record.header}</a>
                        <f:if condition="{data.container_headline} > 1">
                            <f:switch expression="{data.container_headline}">
                                <f:case value="2"></h2></f:case>
                                <f:case value="3"></h3></f:case>
                                <f:case value="4"></h4></f:case>
                                <f:case value="5"></h5></f:case>
                                <f:case value="6"></h6></f:case>
                            </f:switch>
                        </f:if>
                    </div>

                    <div id="accordion-{record.uid}"
                         class="collapse{f:if(condition: '{data.container_accordion_toggle} == 1 && {iterator.cycle} == {data.container_accordion_open}', then: ' show')}"
                         aria-labelledby="accordion-heading-{record.uid}"
                         data-bs-parent="{f:if(condition: '{data.container_accordion_toggle_all} != 1', then: '#accordion-{data.uid}')}">
                        <div class="card-body">
                            {f:cObject(typoscriptObjectPath: 'lib.gsbContainer.renderContent', data: record)}
                        </div>
                    </div>
                </li>
            </f:for>
        </ul>
    </div>
</f:section>

</html>
