<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <div id="tabpanel-{data.uid}" class="ce-tabpanel tabpanel tabs-wrapper" role="tabpanel">
        <nav class="tab-navigation">
            <ul class="nav nav-tabs" id="tab-{data.uid}" role="tablist">
                <f:for each="{children_101}" as="record" iteration="iterator">
                    <li class="nav-item nav-tabs" role="presentation">
                        <button class="nav-link{f:if(condition:'{iterator.cycle}=={data.container_tab_open}',then:' active')}"
                                id="tab-{record.uid}"
                                data-bs-toggle="tab"
                                data-bs-target="#tab-content-{record.uid}"
                                type="button"
                                role="tab"
                                aria-controls="tab-content-{record.uid}"
                                aria-selected="{f:if(condition:'{iterator.cycle}=={data.container_tab_open}',then:'true', else: 'false')}"
                        >
                            <span>{record.header}</span>
                        </button>
                    </li>

                </f:for>
            </ul>
        </nav>
        <div class="tab-content" id="tab-content-{data.uid}">
            <f:for each="{children_101}" as="record" iteration="iterator">
                <div class="ce-tab-pane tab-pane fade{f:if(condition:'{iterator.cycle}=={data.container_tab_open}',then:' show active')}" id="tab-content-{record.uid}" role="tabpanel" aria-labelledby="tab-{record.uid}">
                    {f:cObject(typoscriptObjectPath: 'lib.gsbContainer.renderContent', data: record)}
                </div>
            </f:for>
        </div>
    </div>
</f:section>

</html>
