<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header}">
		<div class="header-content">
			<f:render arguments="{
				header: data.header,
				layout: data.header_layout,
				style: data.tx_header_style,
				linkText: data.tx_link_text,
				teaserLink: data.tx_link,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}',
				link: data.header_link,
				default: settings.defaultHeaderType}" partial="Header/Header" />
			<f:render arguments="{
				date: data.date,
				category: mainCategory,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}'}" partial="Header/Date" />
            <f:render arguments="{
				dontShowCategories: data.header_kicker_toggle,
				kicker: data.header_kicker,
				layout: data.header_layout,
				categories: pageCategories,
				linkText: data.tx_link_text,
				teaserLink: data.tx_link,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position} \')}',
				default: settings.defaultHeaderType}" partial="Header/Kicker" />
			<f:render arguments="{
				subheader: data.subheader,
				layout: data.header_layout,
				linkText: data.tx_link_text,
				teaserLink: data.tx_link,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}',
				default: settings.defaultHeaderType}" partial="Header/SubHeader" />
		</div>
	</f:if>
</f:if>
</html>

