<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{categories}">
    <p class="categories">
        <f:for as="category" each="{categories}" iteration="i">
            <f:if condition="{i.isFirst} && {date}"><span class="dot">•</span></f:if>
            <f:if condition="{i.isLast}">
                <f:then>{category.data.title}</f:then>
                <f:else>{category.data.title}, </f:else>
            </f:if>
        </f:for>
    </p>
</f:if>
</html>
