<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:if condition="{date} || {category}">
	<p class="date {positionClass}">
        <f:if condition="{date}">
		    <span class="date-text"><span class="visually-hidden"><f:translate key="LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:contentElement.header.date" /> </span><f:format.date format="%e. %B %G">{date}</f:format.date> </span>
        </f:if>
        <f:if condition="{main_category_overwrite_toggle}">
            <f:then>
                <f:if condition="{main_category_overwrite}">
                    <span class="dot" aria-hidden="true">•</span> {main_category_overwrite}
                </f:if>
            </f:then>
            <f:else if="{category.title}">
                <span class="dot" aria-hidden="true">•</span> {category.title}
            </f:else>
        </f:if>
	</p>
</f:if>
</html>
