<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{categories} && !{dontShowCategories}">
    <ul class="list-group list-group-horizontal liststyle-none">
        <f:for as="category" each="{categories}" iteration="i">
            <li class="list-group-item border-0 ps-0 kicker">
                <span>
                    {category}
                </span>
            </li>
        </f:for>
    </ul>
</f:if>
<f:if condition="{kicker} && {dontShowCategories}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <p class="kicker {positionClass}">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="2">
            <p class="kicker {positionClass}">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="3">
            <p class="kicker {positionClass}">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="4">
            <p class="kicker {positionClass}">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="5">
            <p class="kicker {positionClass}">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="6">
            <p class="visually-hidden">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="7">
            <p class="visually-hidden">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:case value="8">
            <p class="visually-hidden">
                <span>{kicker}</span>
            </p>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render arguments="{
					kicker: kicker,
					positionClass: positionClass,
					layout: default}" partial="Header/kicker" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
