<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="accordion accordion-overwrite" id="accordionPanelsStayOpenExample">
        <f:for as="record" each="{children_101}" iteration="iterator">
            <div class="accordion-item accordion-item-overwrite">
                <h2 class="accordion-header accordion-header-overwrite">
                    <button aria-controls="panelsStayOpen-{record.uid}" aria-expanded="true"
                            class="accordion-button accordion-button-overwrite collapsed"
                            data-bs-target="#panelsStayOpen-{record.uid}" data-bs-toggle="collapse"
                            type="button">
                        <f:if condition="{record.header}">
                            <f:format.html>{record.header}</f:format.html>
                        </f:if>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="panelsStayOpen-{record.uid}">
                    <div class="accordion-body accordion-body-overwrite">
                        <f:if condition="{record.renderedContent}">
                            <f:format.raw>{record.renderedContent}</f:format.raw>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
</html>