<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:layout name="Container" />

<f:section name="Main">
    <f:if condition="{children_101}">

        <f:if condition="{data.grid_bgcolor}">

            <f:variable name="colorCode" value="{data.grid_bgcolor -> f:format.trim(characters: '#')}" />
            <f:variable name="isHex" value="{data.grid_bgcolor -> f:format.crop(maxCharacters: 1, append: '')}" />

            <f:if condition="# == {isHex}">
                <f:then>
                    <f:variable name="bgColorValue" value="{data.grid_bgcolor}" />
                </f:then>
                <f:else>
                    <f:variable name="bgColorValue" value="var(--gsb-{data.grid_bgcolor})" />
                </f:else>
            </f:if>

            <f:asset.css identifier="cssIdentifierContainer-{colorCode}" useNonce="true">
                .containerBackgroundClass-{colorCode} <f:format.raw>{</f:format.raw>
                background-color: {bgColorValue};
                <f:format.raw>}</f:format.raw>
            </f:asset.css>
        </f:if>

        <div class="containerBackgroundClass-{colorCode}">
            <f:for as="child" each="{children_101}">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>
