<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:layout name="Container" />

<f:section name="Main">
    <f:if condition="{children_101}">
        <div class="swiper swiper-raw swiper-{data.slider_type}-col-{data.grid_columns}">
            <ul class="slider swiper-wrapper list-unstyled">
                <f:for as="child" each="{children_101}">
                    <f:if condition="{gsb:featureFlag(featureKey: 'ITZBUNDPHP-4458')} && {child.CType} == list && {child.list_type} == solr_pi_results">
                        <f:then>
                            <f:format.raw>{child.renderedContent}</f:format.raw>
                        </f:then>
                        <f:else>
                            <li class="swiper-slide">
                                <f:format.raw>{child.renderedContent}</f:format.raw>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>

            <f:if condition="{data.slider_autoplay} == '1'">
                <div class="autoplay">
                    <button class="swiper-start"><span>Start</span></button>
                    <button class="swiper-stop active"><span>Pause</span></button>
                </div>
            </f:if>

            <div class="swiper-navigation" aria-hidden="true">
                <button class="swiper-button swiper-button-prev" tabindex="-1"></button>
                <div class="swiper-pagination"></div>
                <button class="swiper-button swiper-button-next" tabindex="-1"></button>
            </div>
        </div>
        <f:comment><!-- gsb_core does not provide javascript or css
        <f:asset.script identifier="swiperJS" src="EXT:gsb_core/Resources/Public/JavaScripts/swiper.js"/>
        <f:asset.css href="EXT:gsb_core/Resources/Public/StyleSheets/swiper.css" identifier="swiperCSS"/>
        --></f:comment>
    </f:if>
</f:section>

</html>
