<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:layout name="Container" />

<f:section name="Main">
    <f:if condition="{children_101}">
        <div class="swiper swiper-{data.slider_type}-col-{data.grid_columns}">
            <ul class="slider swiper-wrapper list-unstyled">
                <f:for as="child" each="{children_101}">
                    <li class="swiper-slide">
                        <f:format.raw>{child.renderedContent}</f:format.raw>
                    </li>
                </f:for>
            </ul>

            <f:if condition="{data.slider_autoplay} == '1'">
                <div class="autoplay">
                    <button class="swiper-start" type="button"><span>Start</span></button>
                    <button class="swiper-stop active" type="button"><span>Pause</span></button>
                </div>
            </f:if>

            <div class="swiper-navigation" aria-hidden="true">
                <button class="swiper-button-prev" type="button"></button>
                <div class="swiper-pagination" type="button"></div>
                <button class="swiper-button-next" type="button"></button>
            </div>

            <f:asset.script identifier="swiperJS" src="EXT:gsb_core/Resources/Public/JavaScripts/swiper.js"/>
            <f:asset.css href="EXT:gsb_core/Resources/Public/StyleSheets/swiper.css" identifier="swiperCSS"/>
        </div>
    </f:if>
</f:section>

</html>
