<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>

<nav aria-labelledby="breadcrumb" class="container d-none d-sm-block">
    <h2 class="visually-hidden" id="breadcrumb">{f:translate(key:'pages.fe.Breadcrumb', extensionName:'gsb_core')}</h2>
    <ol class="breadcrumb">
        <f:for as="item" each="{breadcrumbMenu}" iteration="iterator">
            <f:if condition="{item.data.is_siteroot} == '1'">
                <f:then>
                    <li class="breadcrumb-item pe-1">
                        <a href="{item.link}" title="{item.title}">
                            <span class="visually-hidden">{item.title}</span>
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <f:if condition="{item.current} == '1'">
                        <f:then>
                            <li aria-current="page"
                                class="breadcrumb-item breadcrumb-text-color breadcrumb-active ps-1 pe-2">
                                {item.title}
                            </li>
                        </f:then>
                        <f:else>
                            <li class="breadcrumb-item ps-1 pe-2">
                                <a class="breadcrumb-text-color" href="{item.link}">
                                    {item.title}
                                </a>
                            </li>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </ol>
</nav>


