<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>

<nav aria-labelledby="breadcrumb" class="container d-none d-sm-block">
    <h2 class="visually-hidden" id="breadcrumb">{f:translate(key:'pages.fe.Breadcrumb', extensionName:'gsb_core')}</h2>
    <ol class="breadcrumb">
        <f:for as="item" each="{breadcrumbMenu}" iteration="iterator">
            <li class="breadcrumb-item">
                <f:if condition="{item.data.is_siteroot} == '1'">
                    <f:then>
                        <a href="{item.link}" title="{item.title}">
                            <span class="visually-hidden">{item.title}</span>
                        </a>
                    </f:then>
                    <f:else>
                        <f:if condition="{item.current} == '1'">
                            <f:then>
                                <a aria-current="page" class="breadcrumb-link fw-bold" href="{item.link}">
                                    <span>{item.title}</span>
                                </a>
                            </f:then>
                            <f:else>
                                <a class="breadcrumb-link" href="{item.link}">
                                    {item.title}
                                </a>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ol>
</nav>


