<f:if condition="{languagenavigation}">
    <ul id="language-menu" class="language-menu list-unstyled nav flex-nowrap me-5">
        <f:for each="{languagenavigation}" as="item">
            <f:if condition="{item.available} && {item.active} != 1">
                <f:then>
                    <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                        <a href="{item.link}" hreflang="{item.hreflang}" class="nav-link {item.twoLetterIsoCode}{f:if(condition: item.available, else: ' text-muted')}">
                            <span>{item.navigationTitle}</span>
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <f:if condition="{item.active} != 1">
                        <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                            <span class="nav-link {item.twoLetterIsoCode}{f:if(condition: item.available, else: ' text-muted')}">{item.navigationTitle}</span>
                        </li>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</f:if>
