<div class="dropdown dropdown-custom">
    <button aria-expanded="false" class="btn-language-menu btn-dropdown-icon text-capitalize dropdown-toggle"
            data-bs-toggle="dropdown"
            type="button">
        <f:for as="item" each="{languagenavigation}">
            <f:if condition="{item.available} && {item.active} = 1">
                {item.navigationTitle}
            </f:if>
        </f:for>
    </button>
    <ul class="dropdown-menu language-menu d-none-not-important list-unstyled p-0 rounded-0 nav" id="language-menu">
        <f:for as="item" each="{languagenavigation}">
            <f:if condition="{item.available} && {item.active} != 1">
                <f:then>
                    <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                        <a class="dropdown-item nav-link pb-0 {f:if(condition: item.available, else: ' text-muted')}"
                           href="{item.link}"
                           hreflang="{item.hreflang}">
                            <span class="dividing-line d-block w-100">{item.navigationTitle}</span>
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <f:if condition="{item.active} != 1">
                        <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                                <span
                                    class="dropdown-item nav-link {item.twoLetterIsoCode}{f:if(condition: item.available, else: ' text-muted')}">{item.navigationTitle}</span>
                        </li>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</div>

