<f:if condition="{languagenavigation}">
    <div class="dropdwon">
        <ul class="language-menu list-unstyled nav flex-nowrap me-5" id="language-menu">
            <f:for as="item" each="{languagenavigation}">
                <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        type="button">
                    Dummy Button
                </button>
                <f:if condition="{item.available} && {item.active} != 1">
                    <f:then>
                        <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                            <a class="nav-link {item.twoLetterIsoCode}{f:if(condition: item.available, else: ' text-muted')}"
                               href="{item.link}"
                               hreflang="{item.hreflang}">
                                <span>{item.navigationTitle}</span>
                            </a>
                        </li>
                    </f:then>
                    <f:else>
                        <f:if condition="{item.active} != 1">
                            <li class="nav-item {f:if(condition: item.active, then: 'active')}">
                            <span
                                class="nav-link {item.twoLetterIsoCode}{f:if(condition: item.available, else: ' text-muted')}">{item.navigationTitle}</span>
                            </li>
                        </f:if>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </div>
</f:if>
