<f:if condition="{menuMetaMain}">
  <div class="main-meta-wrapper">
    <div class="container p-0">
      <ul class="main-meta list-unstyled">
        <f:for each="{menuMetaMain}" as="mainItem">
          <li class="meta-item {f:if(condition:mainItem.active, then:' active')}">
            <f:if condition="{mainItem.current}">
              <f:then>
                <strong class="dropdown-item dropdown-item-strong">
                  {mainItem.title}
                </strong>
              </f:then>
              <f:else>
                <f:link.page pageUid="{mainItem.data.uid}" class="dropdown-item{f:if(condition:mainItem.active, then:' active')}">
                  {mainItem.title}
                </f:link.page>
              </f:else>
            </f:if>
          </li>
        </f:for>
      </ul>
    </div>
  </div>
</f:if>
