<f:if condition="{menuMetaTop}">
  <div class="col meta-desktop order-3 d-none d-lg-block flex-grow-0">
    <div class="meta-wrapper d-flex justify-content-end align-items-center">
      <nav aria-label="Meta-Navigation">
        <ul class="metanav nav">
          <f:for each="{menuMetaTop}" as="mainItem" iteration="i">
            <li class="nav-item {f:if(condition:mainItem.active, then:' active')}">
              <f:if condition="{mainItem.current}">
                <f:then>
                  <strong class="nav-link{f:if(condition:mainItem.hasSubpages, then:' sub')}">
                    {mainItem.title}
                  </strong>
                </f:then>
                <f:else>
                  <f:link.page pageUid="{mainItem.data.uid}" class="nav-link fw-bold{f:if(condition:mainItem.active, then:' active')}{f:if(condition:mainItem.hasSubpages, then:' sub')}">
                    {mainItem.title}
                  </f:link.page>
                </f:else>
              </f:if>
            </li>
          </f:for>
        </ul>
      </nav>
    </div>
  </div>
</f:if>
