<f:if condition="{menuMeta}">
    <div class="row pb-5">
        <div class="col-12">
            <hr aria-hidden="true">
            <div class="row align-items-start py-4">
                <div class="col-12 col-lg-4">
                    <f:if condition="{copyright}">
                        <p class="footer-copyright-distances footer-copyright-font-properties">
                            <f:format.raw>{copyright}</f:format.raw>
                        </p>
                    </f:if>
                </div>
                <div class="col-12 col-lg-8">
                    <nav aria-labelledby="meta" class="text-uppercase">
                        <h2 class="visually-hidden" id="meta">{f:translate(key: 'footer.metanav', extensionName: 'gsb_core')}</h2>
                        <ul class="footer-nav nav footer-nav-mobile justify-content-end">
                            <f:for each="{menuMeta}" as="mainItem">
                                <li class="nav-item pt-0 pb-4">
                                    <f:if condition="{mainItem.current}">
                                        <f:then>
                                            <f:link.page aria="{current: 'page'}" pageUid="{mainItem.data.uid}" class="nav-link fw-bold current">
                                                {mainItem.title}
                                            </f:link.page>
                                        </f:then>
                                        <f:else>
                                            <f:link.page pageUid="{mainItem.data.uid}" class="nav-link fw-bold pt-0 pb-0">
                                                {mainItem.title}
                                            </f:link.page>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</f:if>