<f:if condition="{menuSub}">

  <nav aria-labelledby="submenu" class="d-none d-lg-block">
    <h3 class="visually-hidden" id="submenu">{f:translate(key: 'supplement.areamenu', extensionName: 'dpx_template')}</h3>
    <ul id="subnav" class="nav flex-column hidden-md-down">
      <f:for each="{menuSub}" as="mainItem" iteration="i">
        <li class="nav-item mb-1{f:if(condition:mainItem.active, then:' active')}">
          <f:if condition="{mainItem.current}">
            <f:then>
              <strong class="nav-link{f:if(condition:mainItem.hasSubpages, then:' sub')}">
                {mainItem.title}
              </strong>
            </f:then>
            <f:else>
              <f:link.page pageUid="{mainItem.data.uid}" class="nav-link{f:if(condition:mainItem.active, then:' active')}{f:if(condition:mainItem.hasSubpages, then:' sub')}">
                {mainItem.title}
              </f:link.page>
            </f:else>
          </f:if>
          <f:if condition="{mainItem.children} && {mainItem.active}">
            <ul class="nav flex-column ps-2">
              <f:for each="{mainItem.children}" as="mainChild">
                <f:render section="submenu" arguments="{mainChild: mainChild}"/>
              </f:for>
            </ul>
          </f:if>
        </li>
      </f:for>
    </ul>
  </nav>
</f:if>

<f:section name="submenu">
  <li class="nav-item">
    <f:if condition="{mainChild.current}">
      <f:then>
        <strong class="nav-link{f:if(condition:mainItem.hasSubpages, then:' sub')}">
          {mainChild.title}
        </strong>
      </f:then>
      <f:else>
        <f:link.page pageUid="{mainChild.data.uid}" class="nav-link{f:if(condition:mainChild.active, then:' active')}{f:if(condition:mainChild.hasSubpages, then:' sub')}">
          {mainChild.title}
        </f:link.page>
      </f:else>
    </f:if>
    <f:if condition="{mainChild.children}">
      <ul class="list-unstyled ps-3" id="menu-{mainChild.data.uid}">
        <f:for each="{mainChild.children}" as="mainChild" iteration="i">
          <f:render section="submenu" arguments="{mainChild: mainChild}"/>
        </f:for>
      </ul>
    </f:if>
  </li>
</f:section>
