<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
    <f:spaceless>
        <f:if condition="{formValue.isMultiValue}">
            <f:then>
                <formvh:translateElementProperty element="{formValue.element}" property="label"/>:
                <f:for each="{formValue.processedValue}" as="singleValue">- {singleValue}</f:for>
            </f:then>
            <f:else>
                <formvh:translateElementProperty element="{formValue.element}" property="label"/>:
                <f:if condition="{formValue.processedValue}">
                    <f:then>
                        <f:if condition="{0: formValue.element.type} == {0: 'Checkbox'}">
                            <f:then>
                                <f:if condition="{formValue.processedValue} == '0'">
                                    <f:then>
                                        <f:format.nl2br>Nein</f:format.nl2br>
                                    </f:then>
                                    <f:else>
                                        <f:format.nl2br>Ja</f:format.nl2br>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:format.nl2br>{formValue.processedValue}</f:format.nl2br>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>-</f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:spaceless>
</formvh:renderAllFormValues>
</html>
