<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-audio frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <f:if condition="{data.header_kicker}">
        <p class="kicker"><f:format.raw>{data.header_kicker}</f:format.raw></p>
    </f:if>
    <f:if condition="{data.header}">
        <f:switch expression="{data.header_layout}">
            <f:case value="2">
                <h2 class="{f:if(condition: data.header_position, then: 'ce-headline-{data.header_position}')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}">
                    <f:format.raw>{data.header}</f:format.raw>
                </h2>
            </f:case>
            <f:case value="3">
                <h3 class="{f:if(condition: data.header_position, then: 'ce-headline-{data.header_position}')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}">
                    <f:format.raw>{data.header}</f:format.raw>
                </h3>
            </f:case>
            <f:case value="4">
                <h4 class="{f:if(condition: data.header_position, then: 'ce-headline-{data.header_position}')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}">
                    <f:format.raw>{data.header}</f:format.raw>
                </h4>
            </f:case>
            <f:case value="5">
                <h5 class="{f:if(condition: data.header_position, then: 'ce-headline-{data.header_position}')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}">
                    <f:format.raw>{data.header}</f:format.raw>
                </h5>
            </f:case>
            <f:case value="6">
                <h6 class="{f:if(condition: data.header_position, then: 'ce-headline-{data.header_position}')} {f:if(condition: data.tx_header_style, then: data.tx_header_style)}">
                    <f:format.raw>{data.header}</f:format.raw>
                </h6>
            </f:case>
            <f:case value="7">
                <h1 class="visually-hidden">
                    <f:format.raw>{data.header}</f:format.raw>
                </h1>
            </f:case>
            <f:case value="8">
                <h2 class="visually-hidden">
                    <f:format.raw>{data.header}</f:format.raw>
                </h2>
            </f:case>
            <f:case value="9">
                <h3 class="visually-hidden">
                    <f:format.raw>{data.header}</f:format.raw>
                </h3>
            </f:case>
            <f:case value="10">
                <h4 class="visually-hidden">
                    {header}
                </h4>
            </f:case>
            <f:case value="100">
                <f:comment> -- do not show header -- </f:comment>
            </f:case>
        </f:switch>
    </f:if>
    
    <f:if condition="{data.subheader}">
        <p class="lead"><f:format.raw>{data.subheader}</f:format.raw></p>
    </f:if>
    
    <f:if condition="{data.bodytext}">
        <f:format.html>{data.bodytext}</f:format.html>
    </f:if>
    
    <f:if condition="{data.tx_audio_audio}">
        <div class="audio audio-local">
            <f:if condition="{data_tx_audio_poster.0}">
                <f:alias map="<v:format.json.decode>{data_tx_audio_poster.0.properties.crop}</v:format.json.decode>">
                    <picture data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'default', maxWidth: 1440)}" media="(min-width: 1220px)">
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'large', maxWidth: 1220)}" media="(min-width: 992px)">
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'medium', maxWidth: 992)}" media="(min-width: 768px)">
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'small', maxWidth: 768)}" media="(min-width: 576px)">
                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'xsmall', maxWidth: 576)}" media="(min-width: 0)">
                        <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'default', maxWidth: 1440)}" alt="{file.properties.alternative}{f:if(condition:'{file.properties.link}', then:', Link: {file.properties.link}')}" >
                    </picture>
                </f:alias>
                <noscript>
                    {f:image(image: data_tx_audio_poster.0, cropVariant: 'default', maxWidth: 1340)}
                </noscript>
            </f:if>
            <audio preload="none" controls style="max-width:100%; width: 100%;">
                <source src="{f:uri.typolink(parameter: '{data.tx_audio_audio}')}" type="audio/mp3">
            </audio>
        </div>
    </f:if>
    
    <f:if condition="{data.tx_audio_audiourl}">
        <div class="audio audio-soundcloud">
            <div class="dsgvo" {f:if(condition: '{data_tx_audio_poster.0}', then: ' style="background:url(\'{f:uri.image(image: data_tx_audio_poster.0, maxWidth: 952, maxHeight: 535c)}\') no-repeat 0 0; background-size: cover;"')}>
            <div class="player-wrapper">
                <div class="dsgvo-text">
                    <button class="audio-start mejs__overlay-button"
                            title="Audio abspielen"
                            data-mediaurl="{data.tx_audio_audiourl}">
                        <span class="visually-hidden">Audio abspielen</span>
                    </button>
                    <p>Zum Aktivieren des Widgets musst Du auf den Button klicken. Nach dem Aktivieren des Buttons gelten die <a href="https://help.soundcloud.com/hc/de/articles/115003570428-Datenschutz-bei-SoundCloud" target="_blank" class="external-link" title="Link öffnet in neuem Fenster">Datenschutzbestimmungen von SoundCloud</a>.</p>
                </div>
            </div>
        </div>
</div>
</f:if>
</div>
<f:asset.script identifier="mediaelementsJS" src="EXT:gsb_template/Resources/Public/JavaScripts/mediaelements.js" />
<f:asset.css identifier="mediaelementsCSS" href="EXT:gsb_template/Resources/Public/StyleSheets/mediaelements.css" />
</html>