<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbTemplate/ViewHelpers">
<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-audio frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">

    <f:if condition="{data.header}">
        <f:render arguments="{_all}" partial="Header/All" />
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
    </f:if>

    <f:if condition="{data.tx_audio_audio}">
        <div class="audio audio-local">
            <f:if condition="{data_tx_audio_poster.0}">
              <f:alias map="{gsb:format.json.decode(json: data_tx_audio_poster.0.properties.crop)}">
                <picture data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                    <source
                        media="(min-width: 1220px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'default', maxWidth: 1440, fileExtension: 'webp')}"
                        type="image/webp"
                    >
                    <source
                        media="(min-width: 1220px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'default', maxWidth: 1440, fileExtension: 'jpg')}"
                        type="image/jpeg"
                    >
                    <source
                        media="(min-width: 992px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'large', maxWidth: 1220, fileExtension: 'webp')}"
                        type="image/webp"
                    >
                    <source
                        media="(min-width: 992px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'large', maxWidth: 1220, fileExtension: 'jpg')}"
                        type="image/jpeg"
                    >
                    <source
                        media="(min-width: 768px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'medium', maxWidth: 992, fileExtension: 'webp')}"
                        type="image/webp"
                    >
                    <source
                        media="(min-width: 768px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'medium', maxWidth: 992, fileExtension: 'jpg')}"
                        type="image/jpeg"
                    >
                    <source
                        media="(min-width: 576px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'small', maxWidth: 768, fileExtension: 'webp')}"
                        type="image/webp"
                    >
                    <source
                        media="(min-width: 576px)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'small', maxWidth: 768, fileExtension: 'jpg')}"
                        type="image/jpeg"
                    >
                    <source
                        media="(min-width: 0)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'xsmall', maxWidth: 576, fileExtension: 'webp')}"
                        type="image/webp"
                    >
                    <source
                        media="(min-width: 0)"
                        srcset="{f:uri.image(image: data_tx_audio_poster.0, cropVariant: 'xsmall', maxWidth: 576, fileExtension: 'jpg')}"
                        type="image/jpeg"
                    >
                    <f:image src="{data_tx_audio_poster.0.properties.uid}" maxWidth="1440" cropVariant="default" treatIdAsReference="1" class="figure-img img-fluid" loading="lazy" />
                </picture>
              </f:alias>
            </f:if>
            <audio preload="none" controls style="max-width:100%; width: 100%;">
                <source src="{f:uri.typolink(parameter: '{data.tx_audio_audio}')}" type="audio/mp3">
            </audio>
        </div>
    </f:if>

    <f:if condition="{data.tx_audio_audiourl}">
        <div class="audio audio-soundcloud">
            <div class="dsgvo" {f:if(condition: '{data_tx_audio_poster.0}', then: ' style="background:url(\'{f:uri.image(image: data_tx_audio_poster.0, maxWidth: 952, maxHeight: 535c)}\') no-repeat 0 0; background-size: cover;"')}>
            <div class="player-wrapper">
                <div class="dsgvo-text">
                    <button class="audio-start mejs__overlay-button"
                            title="Audio abspielen"
                            data-mediaurl="{data.tx_audio_audiourl}">
                        <span class="visually-hidden">Audio abspielen</span>
                    </button>
                    <p>Zum Aktivieren des Widgets musst Du auf den Button klicken. Nach dem Aktivieren des Buttons gelten die <a href="https://help.soundcloud.com/hc/de/articles/115003570428-Datenschutz-bei-SoundCloud" target="_blank" class="external-link" title="Link öffnet in neuem Fenster">Datenschutzbestimmungen von SoundCloud</a>.</p>
                </div>
            </div>
        </div>
</div>
</f:if>
</div>
<f:asset.script identifier="mediaelementsJS" src="EXT:gsb_template/Resources/Public/JavaScripts/mediaelements.js" />
<f:asset.css identifier="mediaelementsCSS" href="EXT:gsb_template/Resources/Public/StyleSheets/mediaelements.css" />
</html>
