<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{animationSettings}">
    <f:then>
        <f:asset.script identifier="aosJS" src="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos-3.0.0-beta-6.min.js"/>
        <f:asset.script identifier="aosJS">
            AOS.init();
        </f:asset.script>
        <f:asset.css href="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos.css" identifier="aosCSS"/>
    </f:then>
</f:if>
<div class="frame frame-{data.frame_class} banner frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} banner-{data.tx_gsbbanner_link_background}"{f:if(condition: animationSettings, then: ' {animationSettings -> f:format.raw()}')}>
    <div class="container">
        <div class="row">
            <div class="col-12{f:if(condition: '{data_tx_gsbbanner_file}', then: ' banner-image')}">
                <f:render partial="Media/Button" arguments="{_all}"/>
            </div>
        </div>
    </div>
</div>
</html>
