<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>

<f:if condition="{data.grid_bgcolor}">

    <f:variable name="colorCode" value="{data.grid_bgcolor -> f:format.trim(characters: '#')}" />
    <f:variable name="isHex" value="{data.grid_bgcolor -> f:format.crop(maxCharacters: 1, append: '')}" />
    <f:variable name="containerBackgroundClass"> containerBackgroundClass-{colorCode}</f:variable>

    <f:if condition="# == {isHex}">
        <f:then>
            <f:variable name="bgColorValue" value="{data.grid_bgcolor}" />
        </f:then>
        <f:else>
            <f:variable name="bgColorValue" value="var(--gsb-{data.grid_bgcolor})" />
        </f:else>
    </f:if>

    <f:asset.css identifier="cssIdentifierContainer-{colorCode}" useNonce="true">
        .containerBackgroundClass-{colorCode} <f:format.raw>{</f:format.raw>
        background-color: {bgColorValue};
        <f:format.raw>}</f:format.raw>
    </f:asset.css>
</f:if>

<div id="c{data.uid}" class="frame frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <div class="banner grid-fullsize{f:if(condition:'{data.grid_bgcolor}', then:' {containerBackgroundClass}')}{f:if(condition: data.grid_light, then: ' grid-light')}{f:if(condition:'{data.imageorient} == 0', then:' textpic topcenter')}{f:if(condition:'{data.imageorient} == 25', then:' textpic nexttotext-right d-md-flex')}{f:if(condition:'{data.imageorient} == 26', then:' textpic nexttotext-left d-lg-flex')}">

        <div class="banner-item container">
            <f:if condition="{data.tx_link_text}">
                <f:link.typolink parameter="{data.tx_link}" class="banner-link d-flex align-items-center justify-content-center">
                    <f:if condition="{files}">
                        <div class="banner-image me-3 p-1">
                            <f:for each="{files}" as="file">
                                <f:render partial="Media/Rendering/ImageBanner" arguments="{_all}"/>
                            </f:for>
                        </div>
                    </f:if>
                    <div class="banner-text p-1">{data.tx_link_text}</div>
                </f:link.typolink>
            </f:if>
        </div>

    </div>
</div>
</html>

