<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbTemplate/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{animationSettings}">
        <f:then>
            <f:asset.script identifier="aosJS" src="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos-3.0.0-beta-6.min.js"/>
            <f:asset.script identifier="aosJS">
                AOS.init();
            </f:asset.script>
            <f:asset.css href="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos.css" identifier="aosCSS"/>
        </f:then>
    </f:if>
    <div class="frame frame-{data.frame_class} frame-type-{data.CType} gallery {data.tx_gsbgallery_gallery_layout} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: data.tx_gsbgallery_gallery_textcolor, then: ' gallery-text-white')}{f:if(condition: data.tx_gsbgallery_gallery_bg, then: ' gallery-bg-dark')}"{f:if(condition: animationSettings, then: ' {animationSettings -> f:format.raw()}')}>
        <div class="gallery-content">
            <f:if condition="{data.header}">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:if>

            <f:if condition="{data.bodytext}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </f:if>
        </div>

        <f:if condition="{data.tx_gsbgallery_gallery_layout} == 'gallery-single'">
            <div class="gallery-image row list-unstyled" id="gallery-single-{data.uid}">
                <div class="col-12 pb-3 pt-3">
                    <a href="#" class="popup" data-bs-toggle="modal" data-bs-target="#galleryModal-{data.uid}" role="button">
                        <figure class="image">
                            <f:link.typolink parameter="{data_tx_gsbgallery_file.0.properties.link}" title="{data_tx_gsbgallery_file.0.properties.link.title}">
                                <f:alias map="<gsb:format.json.decode>{data_tx_gsbgallery_file.0.properties.crop}</gsb:format.json.decode>">
                                    <picture data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'default', maxWidth: 1313)}" media="(min-width: 1220px)">
                                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'large', maxWidth: 1220)}" media="(min-width: 992px)">
                                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'medium', maxWidth: 992)}" media="(min-width: 768px)">
                                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'small', maxWidth: 768)}" media="(min-width: 576px)">
                                        <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'xsmall', maxWidth: 576)}" media="(min-width: 0)">
                                        <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'default', maxWidth: 1440)}" data-description="{data_tx_gsbgallery_file.0.properties.uid.description}" data-title="{data_tx_gsbgallery_file.0.properties.uid.title}" alt="{data_tx_gsbgallery_file.0.properties.uid.alternative}">
                                    </picture>
                                    <noscript>
                                        <picture data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                                            <img src="{f:uri.image(image: data_tx_gsbgallery_file.0, cropVariant: 'default', maxWidth: 980)}" alt="{data_tx_gsbgallery_file.0.properties.uid.alternative}">
                                        </picture>
                                    </noscript>
                                </f:alias>
                                <f:if condition="{data_tx_gsbgallery_file.0.properties.copyright}">
                                    <p class="copyright">© {data_tx_gsbgallery_file.0.properties.copyright}</p>
                                </f:if>
                                <f:if condition="{data_tx_gsbgallery_file -> f:count()} > 1">
                                    <p class="count">{data_tx_gsbgallery_file -> f:count()} {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.images')}</p>
                                </f:if>
                            </f:link.typolink>
                        </figure>
                    </a>
                </div>
            </div>
        </f:if>

        <f:if condition="{data_tx_gsbgallery_file}">
            <f:if condition="{data.tx_gsbgallery_gallery_layout} == 'gallery-tiles'">
                <ul class="gallery-image row list-unstyled" id="gallery-tiles-{data.uid}">
                    <f:for each="{data_tx_gsbgallery_file}" as="file" iteration="iterator">
                        <li class="col-6 col-md-4 col-lg-3 pb-3 pt-3">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal-{data.uid}" role="button">
                                <f:render partial="Media/Image" arguments="{_all}"/>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>

            <f:if condition="{data.tx_gsbgallery_gallery_layout} == 'gallery-slider'">
                <div class="swiper swiper-slide-col-4 swiper-gallery">
                    <ul class="swiper-wrapper gallery-image list-unstyled" id="gallery-slider-{data.uid}">
                        <f:for each="{data_tx_gsbgallery_file}" as="file" iteration="iterator">
                            <li class="swiper-slide">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal-{data.uid}" role="button">
                                    <f:render partial="Media/ImageGallery" arguments="{_all}"/>
                                </a>
                            </li>
                        </f:for>
                    </ul>
                    <div class="swiper-navigation">
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                        <button class="swiper-button-next"></button>
                    </div>
                </div>
            </f:if>

            <div class="modal fade" id="galleryModal-{data.uid}" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container g-0">
                                <div class="row g-0">
                                    <div class="col-10 title">
                                        <h3 class="modal-title" id="modalLabel-{data.uid}">{data.header}</h3>
                                    </div>
                                    <div class="col-2 close">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}"><span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div id="galleryCarousel-{data.uid}" class="carousel carousel-dark slide carousel-fade" data-bs-pause="true" data-bs-ride="false" data-bs-interval="false">
                                <ul class="carousel-inner list-unstyled">
                                    <f:for each="{data_tx_gsbgallery_file}" as="file" iteration="iterator">
                                        <f:if condition="{iterator.index} == 0">
                                            <f:then>
                                                <li class="carousel-item active">
                                                    <f:render partial="Media/ImageGalleryOrig" arguments="{_all}"/>
                                                    <p class="carousel-iterator ">{iterator.cycle} {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_of')} {iterator.total}</p>
                                                </li>
                                            </f:then>
                                            <f:else>
                                                <li class="carousel-item">
                                                    <f:render partial="Media/ImageGalleryOrig" arguments="{_all}"/>
                                                    <p class="carousel-iterator ">{iterator.cycle} {f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_of')} {iterator.total}</p>
                                                </li>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </ul>
                            </div>
                            <div class="modal-footer container">
                                <nav aria-label="Galerie Navigation">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a class="carousel-control-prev" href="#galleryCarousel-{data.uid}" role="button" data-bs-slide="prev" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_previous')}">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_previous')}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="carousel-control-next" href="#galleryCarousel-{data.uid}" role="button" data-bs-slide="next" title="{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_next')}">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_template/Resources/Private/Language/locallang.xlf:tt_content.gallery_next')}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:if>
    </div>

    <f:if condition="{data.tx_gsbgallery_gallery_layout} == 'gallery-slider'">
        <f:asset.script identifier="swiperJS" src="EXT:gsb_template/Resources/Public/JavaScripts/swiper.js"/>
        <f:asset.css identifier="swiperCSS" href="EXT:gsb_template/Resources/Public/StyleSheets/swiper.css"/>
    </f:if>
</html>
