<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">

<div class="frame frame-{data.frame_class} frame-type-{data.CType} gallery {data.gallery_layout} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: data.gallery_textcolor, then: ' gallery-text-white')}{f:if(condition: data.gallery_bg, then: ' gallery-bg-dark')}" id="c{data.uid}">

<div class="gallery-content">
    <f:if condition="{data.header}">
        <f:render arguments="{_all}" partial="Header/All"/>
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
    </f:if>
</div>

<f:if condition="{data_gallery_file}">
    <f:if condition="{data.gallery_layout} == 'gallery-single'">
        <div class="gallery-image row list-unstyled" id="gallery-single-{data.uid}">
            <div class="col-12 pb-3 pt-3">
                <a class="popup" data-bs-target="#galleryModal-{data.uid}" data-bs-toggle="modal" href="#" role="button">
                    <figure class="image">
                        <f:link.typolink parameter="{data_gallery_file.0.properties.link}"
                                         title="{data_gallery_file.0.properties.link.title}">
                            <f:alias map="{gsb:format.json.decode(json: data_gallery_file.0.properties.crop)}">
                              <picture data-aspectratio-lg="{large.selectedRatio}"
                                       data-aspectratio-md="{medium.selectedRatio}"
                                       data-aspectratio-sm="{small.selectedRatio}"
                                       data-aspectratio-xl="{default.selectedRatio}"
                                       data-aspectratio-xs="{xsmall.selectedRatio}">
                                  <source
                                      media="(min-width: 1200px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'default', maxWidth: 1440, fileExtension: 'webp')}"
                                      type="image/webp"
                                  >
                                  <source
                                      media="(min-width: 1200px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'default', maxWidth: 1440, fileExtension: 'jpg')}"
                                      type="image/jpeg"
                                  >
                                  <source
                                      media="(min-width: 992px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'large', maxWidth: 1200, fileExtension: 'webp')}"
                                      type="image/webp"
                                  >
                                  <source
                                      media="(min-width: 992px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'large', maxWidth: 1200, fileExtension: 'jpg')}"
                                      type="image/jpeg"
                                  >
                                  <source
                                      media="(min-width: 768px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'medium', maxWidth: 992, fileExtension: 'webp')}"
                                      type="image/webp"
                                  >
                                  <source
                                      media="(min-width: 768px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'medium', maxWidth: 992, fileExtension: 'jpg')}"
                                      type="image/jpeg"
                                  >
                                  <source
                                      media="(min-width: 576px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'small', maxWidth: 768, fileExtension: 'webp')}"
                                      type="image/webp"
                                  >
                                  <source
                                      media="(min-width: 576px)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'small', maxWidth: 768, fileExtension: 'jpg')}"
                                      type="image/jpeg"
                                  >
                                  <source
                                      media="(min-width: 0)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'xsmall', maxWidth: 576, fileExtension: 'webp')}"
                                      type="image/webp"
                                  >
                                  <source
                                      media="(min-width: 0)"
                                      srcset="{f:uri.image(image: data_gallery_file.0, cropVariant: 'xsmall', maxWidth: 576, fileExtension: 'jpg')}"
                                      type="image/jpeg"
                                  >
                              </picture>
                            </f:alias>
                            <f:if condition="{data_gallery_file.0.properties.copyright}">
                                <p class="copyright">© {data_gallery_file.0.properties.copyright}</p>
                            </f:if>
                            <f:if condition="{data_gallery_file -> f:count()} > 1">
                                <p class="count">{data_gallery_file -> f:count()} {f:translate(key:'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.images')}</p>
                            </f:if>
                        </f:link.typolink>
                    </figure>
                </a>
            </div>
        </div>
    </f:if>

    <f:if condition="{data.gallery_layout} == 'gallery-tiles'">
        <ul class="gallery-image row list-unstyled" id="gallery-tiles-{data.uid}">
            <f:for as="file" each="{data_gallery_file}" iteration="i">
                <li class="col-6 col-md-4 col-lg-3 pb-3 pt-3" data-count="{i.index}">
                    <a data-bs-target="#galleryModal-{data.uid}" data-bs-toggle="modal" href="#" role="button">
                        <f:render arguments="{_all}" section="GallerySingle"/>
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:if condition="{data.gallery_layout} == 'gallery-slider'">
        <div class="swiper swiper-slide-col-4 swiper-gallery">
            <ul class="swiper-wrapper gallery-image list-unstyled" id="gallery-slider-{data.uid}">
                <f:for as="file" each="{data_gallery_file}" iteration="i">
                    <li class="swiper-slide" data-count="{i.index}">
                        <a data-bs-target="#galleryModal-{data.uid}" data-bs-toggle="modal" href="#" role="button">
                            <f:render arguments="{_all}" section="GallerySlide"/>
                        </a>
                    </li>
                </f:for>
            </ul>
            <div class="swiper-navigation">
                <button class="swiper-button-prev"></button>
                <div class="swiper-pagination"></div>
                <button class="swiper-button-next"></button>
            </div>
        </div>
    </f:if>

    <div aria-hidden="true" class="modal fade" data-bs-backdrop="static" id="galleryModal-{data.uid}" tabindex="-1">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-10 title">
                                <h3 class="modal-title h3" id="modalLabel-{data.uid}">{data.header}</h3>
                            </div>
                            <div class="col-2 close text-end">
                                <button class="btn-close" data-bs-dismiss="modal" title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}" type="button">
                                    <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="carousel carousel-dark slide carousel-fade" data-bs-interval="false" data-bs-pause="true" data-bs-ride="false" id="galleryCarousel-{data.uid}">
                        <ul class="carousel-inner list-unstyled">
                            <f:for as="file" each="{data_gallery_file}" iteration="iterator">
                                <f:if condition="{iterator.index} == 0">
                                    <f:then>
                                        <li class="carousel-item active">
                                            <f:render arguments="{_all}" section="GalleryOriginal"/>
                                            <p class="carousel-iterator ">{iterator.cycle} {f:translate(key:'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_of')} {iterator.total}</p>
                                        </li>
                                    </f:then>
                                    <f:else>
                                        <li class="carousel-item">
                                            <f:render arguments="{_all}" section="GalleryOriginal"/>
                                            <p class="carousel-iterator ">{iterator.cycle} {f:translate(key:'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_of')} {iterator.total}</p>
                                        </li>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </ul>
                    </div>
                    <div class="modal-footer container">
                        <nav aria-label="Galerie Navigation">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="carousel-control-prev" data-bs-slide="prev" href="#galleryCarousel-{data.uid}"
                                       role="button"
                                       title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_previous')}">
                                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                                        <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_previous')}</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="carousel-control-next" data-bs-slide="next" href="#galleryCarousel-{data.uid}"
                                       role="button"
                                       title="{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_next')}">
                                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                                        <span class="visually-hidden">{f:translate(key: 'LLL:EXT:gsb_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_next')}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:if>
</div>

<f:section name="GallerySingle">
    <picture data-aspectratio-lg="1:1" data-aspectratio-md="1:1" data-aspectratio-sm="1:1" data-aspectratio-xl="1:1" data-aspectratio-xs="1:1">
        <f:image class="figure-img img-fluid" cropVariant="default" data="{bs-slide-to: '{i.index}', bs-target: '#galleryCarousel-{data.uid}'}" height="600c" loading="lazy" maxHeight="600" maxWidth="600" src="{file.properties.uid}" treatIdAsReference="1" width="600c" />
    </picture>
</f:section>

<f:section name="GallerySlide">
    <picture data-aspectratio-lg="16:9" data-aspectratio-md="16:9" data-aspectratio-sm="16:9" data-aspectratio-xl="16:9" data-aspectratio-xs="16:9">
        <f:image class="figure-img img-fluid" cropVariant="default" data="{bs-slide-to: '{i.index}', bs-target: '#galleryCarousel-{data.uid}'}" loading="lazy" maxWidth="600" src="{file.properties.uid}" treatIdAsReference="1"/>
    </picture>
</f:section>

<f:section name="GalleryOriginal">
    <a data-bs-slide="next" href="#galleryCarousel-{data.uid}" role="button" title="Nächstes Bild">
        <figure class="image">
            <picture>
                <f:image class="figure-img img-fluid" crop="false" loading="lazy" maxWidth="1920" src="{file.uid}" treatIdAsReference="1" />
            </picture>
            <f:if condition="{file.originalFile.properties.description} || {file.originalFile.properties.copyright} || {file.properties.description}">
                <figcaption class="image-caption container g-0">
                    <f:if condition="{file.properties.description}">
                        <f:then>
                            <p class="description">{file.properties.description}</p>
                        </f:then>
                        <f:else>
                            <f:if condition="{file.originalFile.properties.description}">
                                <p class="description">{file.originalFile.properties.description}</p>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{file.originalFile.properties.copyright}">
                        <p class="copyright">© {file.originalFile.properties.copyright}</p>
                    </f:if>
                </figcaption>
            </f:if>
        </figure>
    </a>
</f:section>

<f:if condition="{data.gallery_layout} == 'gallery-slider'">
    <f:asset.script identifier="swiperJS" src="EXT:gsb_core/Resources/Public/JavaScripts/swiper.js"/>
    <f:asset.css href="EXT:gsb_core/Resources/Public/StyleSheets/swiper.css" identifier="swiperCSS"/>
</f:if>
</html>
