<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<article id="c{data.uid}" class="frame frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}"{f:if(condition: animationSettings, then: '{animationSettings -> f:format.raw()}')}>
    <div class="row">
        <div class="col-12">
            <div class="teaser">
                <f:if condition="{files}">
                    <div class="teaser-wrapper img-top">
                        <f:for each="{files}" as="file">
                            <f:render partial="Media/Image" arguments="{_all}"/>
                        </f:for>
                    </div>
                </f:if>
                <div class="teaser-content">
                    <f:if condition="{data.header}">
                        <f:render partial="Header/All" arguments="{_all}" />
                    </f:if>
                    <f:if condition="{data.bodytext}">
                        <f:format.html>{data.bodytext}</f:format.html>
                    </f:if>
                    <f:if condition="{data.tx_link}">
                        <div class="ce-button ce-btn-left">
                            <f:link.typolink parameter="{data.tx_link}" class="btn btn-primary btn-left stretched-link"><span>{data.tx_link_text}</span></f:link.typolink>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</article>
</html>
