<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="frame frame-{data.frame_class} frame-type-{data.CType} stage {data.tx_stage_position} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: data.tx_stage_bg, then: ' stage-bg')}{f:if(condition: data.tx_stage_bgcolor, then: ' stage-bg-dark')}">
    <f:if condition="{files}">
        <div class="stage-image">
            <f:for as="file" each="{files}">
                <f:render arguments="{_all}" partial="Media/Rendering/Image"/>
            </f:for>
        </div>
    </f:if>

    <f:if condition="{data.tx_stage_bg}">
        <div class="overlay"></div>
    </f:if>

    <f:if condition="{data.header} || {data.bodytext}">
        <f:if condition="{data.header_layout} != 100">
            <div class="container stage-content-wrapper {data.tx_link_position}">
                <div class="stage-content{f:if(condition: data.header_position, then: ' text-{data.header_position}')} teaser">
                    <div class="teaser-content">
                        <f:if condition="{data.header}">
                            <f:render arguments="{_all}" partial="Header/All"/>
                        </f:if>
                        <f:if condition="{data.bodytext}">
                            <div class="ce-bodytext">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><f:format.crop append="..." maxCharacters="100" respectHtml="true" respectWordBoundaries="true">{data.bodytext}</f:format.crop></f:format.html>
                            </div>
                        </f:if>
                        <f:if condition="{data.tx_link} && {data.tx_link_text} && {data.tx_header_inside} == '1'">
                            <p class="stage-link mb-0">
                                <f:link.typolink class="{data.tx_link_layout} {data.tx_link_position} stretched-link teaser-link" parameter="{data.tx_link}">
                                    {data.tx_link_text}
                                    <span class="visually-hidden">: {data.header}</span>
                                </f:link.typolink>
                            </p>
                        </f:if>
                    </div>
                    <f:if condition="{data.tx_link} && {data.tx_link_text} && {data.tx_header_inside} == '0'">
                        <p class="stage-link mt-3 mb-0">
                            <f:link.typolink class="{data.tx_link_layout} {data.tx_link_position} stretched-link teaser-link" parameter="{data.tx_link}">
                                {data.tx_link_text}
                                <span class="visually-hidden">: {data.header}</span>
                            </f:link.typolink>
                        </p>
                    </f:if>
                </div>
            </div>
        </f:if>
    </f:if>
</div>
</html>
