<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:if condition="{data_tx_video_video.0.originalFile.properties.mime_type} == 'video/mp4'">
        <div class="frame frame-{data.frame_class} frame-type-video frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}" id="c{data.uid}">
            <f:if condition="{data.header}">
                <f:render arguments="{_all}" partial="Header/All" />
            </f:if>
            <f:if condition="{data.bodytext}">
                <f:format.html>{data.bodytext}</f:format.html>
            </f:if>
            <div class="video video-local">
                <f:if condition="{data_tx_video_poster_image.0}">
                    <f:then>
                        <video controls height="100%" poster="{f:uri.image(image: '{data_tx_video_poster_image.0}', maxWidth: 973, maxHeight: 535c)}" preload="none" style="width:100%; height:100%;" width="100%" src="{data_tx_video_video.0.publicUrl}">
                            <f:if condition="{data.tx_video_caption}">
                                <track default kind="subtitles" src="{data_tx_video_caption.0.publicUrl}" srclang="de">
                            </f:if>
                        </video>
                    </f:then>
                    <f:else>
                        <video controls preload="none" style="width:100%; height:100%;" src="{data_tx_video_video.0.publicUrl}">
                            <f:if condition="{data_tx_video_caption.0.publicUrl}">
                                <track default kind="subtitles" src="{data_tx_video_caption.0.publicUrl}" srclang="de">
                            </f:if>
                        </video>
                    </f:else>
                </f:if>
            </div>
        </div>
    </f:if>

    <f:if condition="{data_tx_video_video.0.originalFile.properties.mime_type} == 'video/youtube'">
        <div class="frame frame-{data.frame_class} frame-type-video frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}" id="c{data.uid}">
            <f:if condition="{data.header}">
                <f:render arguments="{_all}" partial="Header/All" />
            </f:if>
            <f:if condition="{data.bodytext}">
                <f:format.html>{data.bodytext}</f:format.html>
            </f:if>
            <div class="video video-youtube">
                <f:if condition="{data_tx_video_poster_image}">
                    <f:then>
                        <div class="dsgvo" style="background:url('{f:uri.image(image: data_tx_video_poster_image.0, maxWidth: 973, maxHeight: 535c)}') no-repeat 0 0; background-size: cover;" data-src="{data_tx_video_video.0.publicUrl}" data-caption="{data_tx_video_caption.0.publicUrl}">
                    </f:then>
                    <f:else>
                        <div class="dsgvo" style="background-color:#efefef;" data-src="{data_tx_video_video.0.publicUrl}" data-caption="{data_tx_video_caption.0.publicUrl}">
                    </f:else>
                </f:if>
                <div class="player-wrapper">
                    <div class="dsgvo-text">
                        <button class="video-start mejs__overlay-button" title="{f:translate(key: 'videoyoutube.play', extensionName: 'gsb_template')}">
                            <span class="visually-hidden">{f:translate(key: 'videoyoutube.play', extensionName: 'gsb_template')}</span>
                        </button>
                        <p><f:format.raw>{f:translate(key: 'videoyoutube.link', extensionName: 'gsb_template')}</f:format.raw></p>
                    </div>
                </div></div>
            </div>
        </div>
    </f:if>

<f:asset.script identifier="mediaelementsJS" src="EXT:gsb_template/Resources/Public/JavaScripts/mediaelements.js"/>
<f:asset.css href="EXT:gsb_template/Resources/Public/StyleSheets/mediaelements.css" identifier="mediaelementsCSS"/>
</html>
