<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ff="http://www.w3.org/1999/html" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{menu}">
        <ul class="row row-cols-1 row-cols-md-2 list-unstyled">
            <f:for as="page" each="{menu}" iteration="iterator">
                <f:if condition="{page.data.doktype} != 4">
                    <li class="col">
                        <article class="frame frame-type-gsb_singleteaser frame-layout-0">
                            <div class="teaser textpic topcenter d-flex flex-wrap" style="background-color:#f3f7fb">
                                <div class="teaser-content ce-bodytext order-1">
                                    <f:if condition="{page.data.description} || {page.title}">
                                        <h3>
                                            <f:link.typolink class="stretched-link teaser-link" parameter="{page.link}">
                                                <span>
                                                  <f:format.raw>{page.title}</f:format.raw>
                                                </span>
                                            </f:link.typolink>
                                        </h3>
                                        <p>
                                            <f:format.stripTags><f:format.raw><f:format.crop append="..." maxCharacters="150" respectHtml="true" respectWordBoundaries="true">{page.data.teaser_description}</f:format.crop></f:format.raw></f:format.stripTags>
                                        </p>
                                    </f:if>
                                </div>
                                <f:if condition="{page.files}">
                                    <div class="teaser-image ce-gallery order-0">
                                        <f:alias map="{gsb:format.json.decode(json: page.files.0.properties.crop)}">
                                            <picture data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                                                <f:image class="figure-img img-fluid" cropVariant="default" loading="lazy" maxWidth="650" src="{page.files.0.properties.uid}" treatIdAsReference="1" />
                                            </picture>
                                        </f:alias>
                                    </div>
                                </f:if>
                            </div>
                        </article>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>
</html>
