<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ff="http://www.w3.org/1999/html" xmlns:gsb="http://typo3.org/ns/ITZBund/GsbCore/ViewHelpers">
<f:comment>
    <!--
    SPDX-FileCopyrightText: 2024 Bundesrepublik Deutschland, vertreten durch das BMI/ITZBund

    SPDX-License-Identifier: GPL-3.0-or-later
    -->
</f:comment>
<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{menu}">
        <ul class="row row-cols-1 row-cols-md-2 list-unstyled">
            <f:for as="page" each="{menu}" iteration="iterator">
                <f:if condition="{page.data.doktype} != 4">
                    <li class="col">
                        <article class="frame frame-type-gsb_singleteaser frame-layout-0 h-100">
                            <div class="teaser textpic topcenter d-flex flex-wrap h-100" style="{f:if(condition: '{data.grid_bgcolor}', then: 'background-color:var(--gsb-{data.grid_bgcolor});')}">
                                <div class="teaser-content ce-bodytext order-1{f:if(condition: data.grid_light, then: ' grid-light')}">
                                    <f:if condition="{page.data.description} || {page.title}">
                                        <{f:if(condition: data.tx_subelements_header_style, then: '{data.tx_subelements_header_style}', else: 'h2')}>
                                            <f:link.typolink class="stretched-link teaser-link" parameter="{page.link}">
                                                <span>
                                                  {page.title}
                                                </span>
                                            </f:link.typolink>
                                        </{f:if(condition: tx_subelements_header_style, then: '{tx_subelements_header_style}', else: 'h2')}>
                                        <p>
                                            <f:format.stripTags><f:format.raw>{page.data.teaser_description}</f:format.raw></f:format.stripTags>
                                        </p>
                                    </f:if>
                                </div>
                                <f:if condition="{page.files} && {page.files->f:count()}">
                                    <f:variable name="file">{page.files.0}</f:variable>
                                    <div class="teaser-image ce-gallery order-0">
                                        <f:alias map="{gsb:format.json.decode(json: file.properties.crop)}">
                                            <picture data-aspectratio-lg="{large.selectedRatio}" data-aspectratio-md="{medium.selectedRatio}" data-aspectratio-sm="{small.selectedRatio}" data-aspectratio-xl="{default.selectedRatio}" data-aspectratio-xs="{xsmall.selectedRatio}">
                                                <f:image class="figure-img img-fluid" cropVariant="default" loading="lazy" maxWidth="650" image="{file}" treatIdAsReference="1" />
                                            </picture>
                                        </f:alias>
                                    </div>
                                </f:if>
                            </div>
                        </article>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>
</html>
